html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.index header {
  height: 165px;
  width: 100%;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 20;
}
.index .topbanner {
  background-image: url("../../img/otherpage/index-topbanner1.jpg");
  height: 330px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
}
.index .topbanner .topbanner__text {
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
}
.index .product-card__top__pic.p1 {
  background-image: url("../../../img/product/sightseeing/friend/sightseeing_friend_taoyuanseeandbuy1.jpg");
}
.index .product-card__top__pic.p2 {
  background-image: url("../../../img/product/sightseeing/friend/sightseeing_friend_newtaipeibeauty1.jpg");
}
.index .product-card__top__pic.p3 {
  background-image: url("../../../img/product/sightseeing/friend/sightseeing_friend_kimmon_bridge.jpg");
}
.index .jo-card__top.j1 {
  background-image: url("../../img/jo/jo_nanjingeasteat1.jpg");
}
.index .jo-card__top.j2 {
  background-image: url("../../img/jo/jo_boardgame1.jpg");
}
.index .jo-card__top.j3 {
  background-image: url("../../img/jo/jo_raohenightmarket1.jpg");
}
.index .jo-card__bottom__message .member-pic.m1 {
  background-image: url("../../img/jo/jo_memberpic1.jpg");
}
.index .jo-card__bottom__message .member-pic.m2 {
  background-image: url("../../img/jo/jo_memberpic2.jpg");
}
.index .jo-card__bottom__message .member-pic.m3 {
  background-image: url("../../img/jo/jo_memberpic3.jpg");
}
.product-list {
  display: flex;
}
.product-list .product-card {
  width: 390px;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.product-list .product-card:hover .product-card__top__pic img {
  transform: scale(1.2);
}
.product-list .product-card .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 15;
}
.product-list .product-card .product-card__location {
  color: white;
}
.product-list .product-card .product-card__location .fa-location-dot {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}
.product-list .product-card .product-card__location .p__location {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 15;
}
.product-list .product-card .product-card__top {
  color: #ffffff;
  width: 390px;
  height: 155px;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.product-list .product-card .product-card__top .product-card__top__pic img {
  width: 390px;
  transition: all 0.3s;
}
.product-list .product-card .product-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 5px;
}
.product-list .product-card .product-card__bottom h6 {
  margin-top: 20px;
}
.product-list .product-card .product-card__bottom .fa-star {
  margin-right: 5px;
  color: #f9cf00;
}

.jo-list {
  display: flex;
}
.jo-list .jo-card {
  width: 390px;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.jo-list .jo-card:hover .jo-card__top img {
  transform: scale(1.2);
}
.jo-list .jo-card .jo-card__top__location {
  color: #ffffff;
}
.jo-list .jo-card .jo-card__top__location .fa-location-dot {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}
.jo-list .jo-card .jo-card__top__location .jo__location {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 15;
}
.jo-list .jo-card .jo-card__top {
  color: #ffffff;
  width: 390px;
  height: 155px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.jo-list .jo-card .jo-card__top img {
  width: 390px;
  border-radius: 10px;
  transition: all 0.3s;
}
.jo-list .jo-card .jo-card__bottom {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message {
  display: flex;
  align-items: center;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message .member-pic {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  margin-right: 10px;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message .left-time {
  margin-left: auto;
}

.htob {
  margin-top: 165px;
}

.nb {
  margin-top: 215px;
}

.hb {
  margin-top: 30px;
  margin-bottom: 20px;
}

.ftoc {
  margin-top: 80px;
}

.ttoc {
  margin-top: 70px;
  margin-bottom: 35px;
}

.ctoc {
  margin-bottom: 100px;
}

.wrapper {
  line-height: 1.6;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.prize {
  font-size: 16px;
  font-weight: bold;
}

.gray {
  font-size: 14px;
  color: #747774;
}

.product-tag {
  padding: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #fe9f4d;
}

.blueBtn {
  background-color: #4484ce;
  text-align: center;
  width: 100px;
  padding: 10px 30px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
}

.yellowBtn {
  background-color: #f9cf00;
  text-align: center;
  width: 100px;
  padding: 10px 30px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
}

.orangeBtn {
  background-color: #fe9f4d;
  text-align: center;
  width: 100px;
  padding: 10px 30px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .prize {
    font-size: 16px;
    font-weight: bold;
  }
  .gray {
    font-size: 14px;
    color: #747774;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
