@use "sass:math";
@import "page/page.scss";
@import "component/component.scss";

.nb_htoc {
  margin-top: 215px;
}

.hb_htob {
  margin-bottom: 30px;
}

.hb_btoc {
  margin-bottom: 20px;
}

.ftoc {
  margin-top: 80px;
}
