.account_order{
    .product-card-row{
        outline: none;
    }

    .product-card-row__right_bgc{
        background-color: $white;
        outline: none;
        border-radius: 0px 12px 12px 0px;
    }

    .product-card-row__left{
        border-radius: 12px 0px 0px 12px;
    }

    .useweeee{
        margin-bottom: 30px;
    }

    .product-name{
        font-size: 20px;
    }
    
    .gray{
        @include m {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}