.account{
    background-color: $ll_gray;

    .container{    
        .on_page{
            color: $orange;
        }
        .hbb{
            padding-top: 30px;
            padding-left: 100px;
            font-size: 16px;
            margin-bottom: 20px;
            a{
                margin-right: 10px;
                color: $blue;
            }
            .on_page{
                color: $orange;
            }
            i{
                margin-right: 10px;
            }
            @include m{
                display: none;
            }
            
        }
        .mid{
            display: flex;
            justify-content: center;          
            .left_bar{
                width: 220px;
                @include m{
                    display: none;
                }
    
                .img_block{
                    border-radius: 10px;
                    background-color: $white;
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 20px;
                    
                    .mem_img{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-color: $gray;
                        margin: 0 auto;
                        
                        margin-bottom: 20px;
                    }
                    h2{
    
                    }
    
                }
    
                .page_list{
                    margin-top: 10px;
                    ul{
                       padding-left: 35px;
                        padding-bottom: 50px;
                        padding-top: 10px;
                        background-color: $white;
                        border-radius: 10px;
    
                        li{
                           
                            margin-top: 40px;
                            font-size: 20px;
                            
                            
                            line-height: 25px;
                            a{
                                
                              
                                color: $blue;
                                display: flex;
                                div{
                                    width: 40px;
                                    height: 25px;
                                }
                            
                            }
                            
                            .w{
                                background-color: $blue;
                                color: $white;
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                display: block;
                                line-height: 25px;
                                text-align: center;
                            }
                        }
                        #on_page{
                            color: $orange;
                        }
                        
                    }
                }
            }
        }
        .breadcrumb{
            margin-left: 90px;
            @include m{
                display: none;
            }
        }
        //以上為重複使用
        .content{
            margin-left: 50px;
            width: 60%;
            @include m{
                width: 100%;
                margin: 0;
            }
            h4{
                @include m{
                    width: 100%;
                    background-color: $blue;
                    color: $white;
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                }
            }
            .setting{
                background-color: $white;
                padding: 15px;
                margin-top: 15px;
                width: 100%;
                border-radius: 10px;
                position: relative;
                @include m{
                    margin-top: 0;
                }
                .row.name{
                    .form_group{
                        width: 20%;
                        @include m{
                            width: 100%;
                        }
                    }
                }
                .row{
                    width: 100%;
                    padding: 20px;
                    padding-left: 50px;
                    display: flex;
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    @include m{
                        flex-direction: column;
                        padding: 0;
                        padding-left: 10px;
                        
                    }
                    .form_group{
                        width: 42.5%;
                        margin-right: 20px;
                        @include m{
                            width: 100%;
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                        label{
                            display: block;
                            margin-bottom: 5px;
                            font-size: 16px;
                        }
                        input{
                            width: 100%;
                            border: 1px solid $gray;
                            padding: 5px;
                            padding-left: 10px;
                            font-size: 16px;
                            border-radius: 5px;
                            @include m{
                                border: none;
                                border-bottom: 1px solid $black;
                                border-radius: 0;
                                padding-left: 3px;
                            }
                        }
                        select{
                            width: 100%;
                            border: 1px solid $gray;
                            text-align: left;
                            padding: 5px;
                            padding-left: 10px;
                            
                            font-size: 16px;
                            border-radius: 5px;
                            @include m{
                                background-color: $white;
                                color: $black;
                                border: none;
                                border-bottom: 1px solid $black;
                                border-radius: 0;
                                padding-left: 3px;
                            }
                        }
        
                        select#loc{
                            margin-right: 10px;
                            width: 150px;
        
                        }
        
                    }
                    .form_group#phone_group>div{
                        display: flex;
                    }
                    .form_group:last-child{
                        margin-left: 20px;
                        @include m{
                            margin-left: 0;
                        }
                    }
                }
                .row#date_group{
                    .form_group{
                        margin-left: 0;
                        input{
                            @include m{
                                background-color: $white;
                                color: $black;
                            }
                        }
                    }
                }
                .row.interest{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    @include m{
                        flex-direction: row;
                        position: relative;
                        padding-top: 20px;
                    }
                    h5{
                        margin-bottom: 20px;
                        @include m{
                            position: absolute;
                            top: -10px;
                            
                        }
                    }
                    .row{
                        padding-left: 0;
                        color: $gray;
                        @include m{
                            display: flex;
                            flex-direction: column;
                            
                        }
                        div{
                            @include m{
                                display: flex;
                                justify-content: center;
                                margin-top: 10px;
                            }
                            input{
                                margin-right: 10px;
                                @include m{
                                    
                                    margin: 0; 
                                    margin-top: 5px;
                                    
                                }
                            }
    
                            label{
                                margin-right: 20px;
                                @include m{
                                    
                                    padding-left: 10px;
                                    margin: 0;
                                    
                                    text-align: center;
                                    display: inline;
                                }
                            }
                        }
                       
                        
                    }
                   
                }
                .save{
                    position: absolute;
                    right: 50px;
                    bottom: 10px;
                    width: 15%;
                    background-color: $blue;
                    color: $white;
                    text-align: center;
                    border-radius: 5px;
                    padding: 5px 5px;
                    @include m{
                        position: static;
                        width: 100%;
                    }
                }
            }
        }
        
    }
    
    
}
