.account_order{

        .order_card{
            width: 100%;
            // height: 270px;
            margin-bottom: 30px;
            background-color: $white;
            display: flex;
            border-radius: 10px;
            position: relative;
            @include m{
                flex-direction: column;
            }
        }
      
        .order_card_pic{
            width: 270px;
            border-radius: 10px 0px 0px 10px;
            @include m{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .dot{
            position: absolute;
            top: 13px;
            left: 12px;
            font-size: 16px;
            color: $white;
        }
        .order_number{
            color: $gray;
            font-size: 12px;
        }
        .product_name{
            margin-bottom: 10px;
            font-size: 20px;
            @include m{
                font-size: 22px;
            }
        }
        .product_type{
            background-color: $orange;
            width: 30%;
            text-align: center;
            color: $white;
            margin-bottom: 10px;
            padding: 1px;
        }
        .text{
            width: 100%;
            padding: 15px 15px 15px 30px;
        }
        .product__description{
            font-size: 14px;
            @include m {
                font-size: 18px;
            }
        }
        .card_bottom{
            margin-top: 15px;
        }
       
        .price{
            float: right;
        }
        .fa-star{
            color: $yellow;
        }
       
}