.wrapper.forget_pwd  {
    background-image: url(../img/otherpage/signup01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    //   background-repeat: no-repeat;
    @include m {
      background-image: none;
      // * {
      //   padding: 0;
      //   margin: 0;
      //   //   color: red;
      // }
    }

}
.forgetpwd_bg{
    width: 100%;
    height: 100vh;
    // background-image: url(../img/otherpage/signup01.jpg);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;

    @include m {
      background-image: none;
      height: auto;
    }
}

.forgetpwd h3 {
    font-weight: 400;
    padding-bottom: 20px;
    margin-top: 45px;
    margin-left: 70px;
}

.forgetpwd p {
    display: block;
    margin-left: 72px;
    line-height: 1.4;
}
.container.forget_pwd{
    width: 100%;
    height: 100%;
    padding-top: 7%;
    padding-left: 45%;
    @include m {
        padding: 0;
        height: auto;
      }
}
.forgetpwd {
   width: 370px;
  height: 400px;

  

  padding-top: 3px;

  border-radius: 20px;
  background-color: $white;
}

.forgetpwd_form {
    padding-left: 69px;
    padding-top: 20px;
    // margin-top: 30px;

    padding-bottom: 10px;

    .email{
        position: relative;

        .fa-envelope{
            position: absolute;
            top: 20px;
            right: 75px;
        }
    }
}

.forgetpwd input {
    width: 242px;
    height: 52px;
    margin-bottom: 10px;
    font-size: 20px;
    // margin: 0 auto;
    border: 1px solid $gray;
    border-radius: 5px;
    text-indent: 5px;
}

.forgetpwd .submit{
    border:none;
}
// .forgetpwdsubmit {

//     text-align: center;
//     padding-top: 17px;
//     display: block;
//     width: 147px;
//     height: 21.5px;
//     margin-top: 15px;
//     margin-bottom: 10px;
//     margin-left: 70px;
//     background-color: #4484ce;
//     color: #ffffff;
//     width: 242px;
//     height: 52px;
//     cursor: pointer;
//     font-size: 20px;
//     transition: 0.2 all ease-in-out;
//     box-sizing: border-box;
//     border: none;

// }

.forgetpwdsignup {
    margin-top: 20px;
    
}

.submit{
    border: none;
    border-radius: 10px;
}