.jo_index{
    header {
        height: 165px;
        width: 100%;
        background-color: $gray;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 40px;
        color: $white;
        text-align: center;
        padding-top: 60px;
        box-sizing: border-box;
        z-index: 100;
    }
    
    .topbanner {
        background-image: url("../img/jo/jo_index-topbanner1.jpg");
        height: 500px;
        background-size: cover;
        background-position: center center;
        @include m{
          height: auto;
          background-image: url(none);  
          background-color: $yellow;
          padding-bottom: 10px;
          
        }
        
    
        .topbanner__text {
          color: $black;
          text-align: left;
          padding-top: 130px;
          margin-bottom: 20px;
          padding-left: 100px;
          @include m{
            padding: 0;
            padding-top: 15px;
            margin: 0;
            text-align: center;
            margin: 0 auto  ;
            position: relative;
          }
          h1{
            font-weight: bold;
            margin-bottom: 10px;
            @include m{
              font-size: 16px;
              margin-bottom: 3px;
            }
          }
          p{
            margin-bottom: 20px;
            padding-left: 10px;
            font-weight: bold;
            @include m{
              margin-bottom: 3px;
            }
          }
          .search_location{
            background-color: $yellow;
            display: inline;
            padding:10px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            border-radius: 30px;
            margin-top: 15px;
            font-weight: bold;
            line-height: 40px;
            height: 40px;
            cursor: pointer;
            @include m{
              margin: 0;
              padding: 0;
              border-radius: 0;
              background-color: none;
              position: absolute;
              right: 0px;
            }
            i.fa-location-dot{
              @include m{
                display: none;

              }
            }
            
          }
          .searchbox{
            margin-top: 25px;
            width: 70%;
            position: relative;
            @include m{
              margin: 0 auto;
              margin-top: 10px;
              
              width: 100%;
              
            }
            input{
                height: 45px;
                width: 100%;
                border: none;
                border-radius: 10px;
                padding-left: 20px;
                font-size: 20px;
                font-weight: 400;
                @include m{
                  height: 30px;
                  width: 55%;
                  font-size: 16px;
                  margin-right: 30px;
                }
            }
            button{
                position: absolute;
                height: 35px;
                right: 10px;
                top: 5px;
                bottom: 5px;
                padding-left: 20px;
                padding-right: 20px;
                border: none;
                border-radius: 10px;
                background-color: $yellow;
                transition: 0.2 all ease-in-out;
                box-sizing: border-box;
                font-weight: bold;
                cursor: pointer;
                @include m{
                  display: none;
                }


            }
          }
        }
    }
    .midbanner{
        margin-top: 30px;
        margin-bottom: 20px;
        @include m{
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 10px;

        }
        .icon_map{
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          padding-left: 100px;
          padding-right: 100px;
          padding-bottom: 0;
          @include m{
            padding: 0;
            padding-top: 10px;
          }
            i{
                font-size: 35px;
                align-items: center;
                margin: 0 auto;
                text-align: center;
                @include m{
                  font-size: 20px;
                  line-height: 52px;
                }
            }
            div{
              display: flex;
              flex-direction: column;
              justify-content: center;
              @include m{
                font-size: 20px;
                text-align: center;
              }
              h5{
                @include m{
                  font-size: 14px;
                }
              }
              i{
                margin-bottom: 10px;
                line-height: 1.6;
              }
            }

        }
    }
    .content{  
      width: 1000px;
      @include m{
        max-width: 400px;
      }
      .jo-list{
        position: relative;
        .member-pic{
        background-image: url(../img/jo/jo_memberpic1.jpg);
      }
      }
      }
    
    }
    #jo_button {
      display: inline-block;
      position: fixed;
      bottom: 280px;
      right: 30px;
      transition: background-color .3s,
      opacity .5s, visibility .5s;
      visibility: hidden;
      z-index: 1000;
      @include m{
        display: flex;
        justify-content: center;
        background-color: $ll_gray;
        bottom: 0;
        right: 0;
        left: 0;
      }
      &.show {
        visibility: visible;
      }
      img {
        width: 140px;
        @include m{
          width: 60px;
          
        }
      }
      h5{
        color: $yellow;
        text-align: center;
        @include m{
         
          line-height: 60px;
        }
      }
    }


 
