.landing {
  background-color: $gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn {
    width: 100px;
    height: 100px;
    background-color: $blue;
    border-radius: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $white;
    &:active {
      color: $white;
    }
  }
}
