.login_bg {
    width: 100%;
    height: 100vh;
    background-image: url(../img/otherpage/signup01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.log h3 {
    padding-bottom: 20px;
    margin-top: 25px;
    margin-left: 60px;
}

.log p {
    display: block;
    margin: auto 70px;
}

.container.login{
  
    width: 100%;
    height: 100%;
    padding-top: 7%;
    padding-left: 45%;
  }

.log {

  
    width: 370px;
    height: 400px;
  
    
  
    padding-top: 3px;
  
    border-radius: 20px;
    background-color: $white;

}

.log form {
    padding-left: 69px;
    
    line-height: 2.4;
    padding-bottom: 10px;
}


.email input {
    width: 242px;
    height: 52px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid $gray;
    border-radius: 5px;
    text-indent: 5px;
    color: $gray;
  }
  
  .password input {
    width: 242px;
    height: 52px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid $gray;
    border-radius: 5px;
    text-indent: 5px;
    color: $gray;
  }

.submit {
    display: block;
    width: 242px;
    height: 52px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}



.loginforgetpwd {
    display: block;
    color: $orange;
    margin-left: 230px;
    margin-bottom: 40px;
    margin-top: 14px;
    text-align: center;
    text-decoration: none;
}

.logincheckbox {
    position: absolute;
    width: 166px;
    height: 50px;
    margin-left: 70px;
    margin-top: 10px;
    color: $gray;

}

.signup {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}

.signupa {
    color: $orange;
    text-align: center;
    text-decoration: none;
}
