// ---------------modal---------------
.productdetail__modal--header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  h5 {
    order: 2;
    font-weight: bold;
    margin-right: 160px;
  }
  .btn-close {
    margin: 0;
  }
}
.productdetail__modal--group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  // ---------------modal_人數---------------
  .productdetail__modal--top {
    .xdsoft_datetimepicker {
      border: 0;
    }
    .xdsoft_monthpicker {
      height: 50px;
    }
    .xdsoft_datepicker {
      width: 400px;
      td {
        color: $gray;
        border: 0;
        background-color: $white;
        height: 50px;
        div {
          text-align: center;
        }
      }
    }
  }
  // ---------------modal_總金額---------------
  .productdetail__modal--mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid $l_gray;
    border-bottom: 1px solid $l_gray;
    p {
      font-weight: bold;
    }
  }
  // ---------------modal_點數---------------
  .productdetail__modal--bot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    div {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      p {
        font-weight: bold;
      }
    }
  }
}
// ---------------麵包屑---------------
.productdetail__breadcrumb {
  display: flex;
  margin: 0 0 10px 0;
  .productdetail__breadcrumb__item:after {
    content: ">";
  }
  @include m {
    display: none;
  }
  .productdetail__breadcrumb__item {
    a {
      &:visited,
      &:active,
      &:link,
      &hover {
        color: $blue;
      }
    }
  }
  .productdetail__breadcrumb__item--current {
    a {
      &:visited,
      &:active,
      &:link,
      &hover {
        color: $orange;
      }
    }
  }
}
// ---------------右邊固定框---------------
.productdetail__fixedfield--container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  @include m {
    flex-direction: column;
  }
  .productdetail__fixedfield--group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    order: 2;
    @include m {
      order: 0;
    }
    // ---------------立即確認按鈕---------------
    .productdetail__fixedfield1 {
      background-color: $white;
      width: 300px;
      max-height: 200px;
      position: sticky;
      top: 120px;
      float: right;
      border: $l_gray 1px solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      @include m {
        padding: 15px;
        width: 100%;
        flex-direction: row;
        border-radius: 0px;
        // position: fixed;
        top: 1185px;
        z-index: 3000;
      }
      .fa-heart {
        display: none;
        @include m {
          display: block;
          font-size: 25px;
          color: $orange;
          margin-right: 30px;
        }
      }

      h2 {
        font-size: 22px;
        margin-right: 100px;
        margin-bottom: 20px;
        font-weight: bold;
        @include m {
          display: none;
        }
      }

      .field1_btn1 {
        background-color: $blue;
        @include m {
          display: none;
        }
      }
      .field1_btn2 {
        background-color: $blue;
        display: none;
        @include m {
          display: block;
          width: 140px;
          margin-right: 20px;
        }
      }
      .field1_btn3 {
        background-color: $orange;
        display: none;
        @include m {
          display: block;
          width: 140px;
        }
      }
      button {
        width: 250px;
        height: 45px;
        border-radius: 5px;
        border: 0;
        color: $white;
        cursor: pointer;
        span {
          font-size: $pc_h6;
          font-weight: bold;
        }
        .fa-bolt {
          color: $white;
          margin-right: 10px;
          font-weight: bold;
          @include m {
            display: none;
          }
        }
      }
      div {
        display: flex;
        align-items: center;
      }
    }
    // ---------------右側四選項---------------
    .productdetail__fixedfield2 {
      background-color: $white;
      width: 200px;
      height: 200px;
      position: sticky;
      top: 270px;
      padding: 5px;
      float: right;
      color: $gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include m {
        width: 300px;
        height: 0px;
        flex-direction: row;
        position: fixed;
        top: 100px;
        background-color: #ffffff00;
        z-index: -1;
      }
      a {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        font-size: $pc_h6;
        color: $black;
        font-weight: bold;
        padding-left: 5px;
        cursor: pointer;
      }
    }
    // ---------------scrollToTop---------------
    .productdetail__scrollToTop {
      background-color: $blue;
      cursor: pointer;
      width: 40px;
      height: 40px;
      text-align: center;
      position: fixed;
      right: 30px;
      bottom: 50px;
      border-radius: 10px;
      @include m {
        display: none;
      }
      i {
        color: $white;
        font-size: $pc_h1;
      }
    }
  }
}

.productdetail__container {
  max-width: 800px;
}
// ---------------商品標題---------------
.productdetail__title {
  margin: 10px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include m {
    margin: 0 0;
  }
  h1 {
    font-size: $pc_h4;
    font-weight: bold;
    display: inline;
    @include m {
      font-size: 20px;
    }
  }
  i {
    color: $orange;
    font-size: $pc_h3;
    cursor: pointer;
    @include m {
      display: none;
    }
  }
}
// ---------------商品資訊---------------
.productdetail__content {
  i {
    font-size: $pc_h6;
    margin-right: 10px;
  }
  h5 {
    color: $blue;
    display: inline;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    font-weight: bold;
  }
  div {
    p {
      display: inline;
      color: $yellow;
      font-size: 14px;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
    }
  }
}
// ---------------行程時間---------------
.productdetail__time {
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 15px 0 15px 0;
  border-top: 1px solid $l_gray;
  border-bottom: 1px solid $l_gray;
  @include m {
    flex-direction: column;
  }
  display: flex;
  div {
    margin-right: 100px;
    i,
    span {
      margin-right: 10px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
// ---------------商品介紹---------------
.productdetail__list {
  ul {
    margin-left: 20px;
    li {
      list-style: disc;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
// ---------------商品說明---------------
.productdetail__operate {
  border-bottom: 1px solid $l_gray;
  margin-top: 70px;
  margin-bottom: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  span {
    font-size: $pc_h6;
    cursor: pointer;
    color: $blue;
  }
  i {
    margin-left: 30px;
    color: $blue;
  }
}
.productdetail__directions {
  margin-bottom: 100px;
  h3 {
    font-weight: bold;
    margin-bottom: 45px;
    font-size: $pc_h4;
  }
  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
  }
}
.productdetail__img {
  p {
    font-size: 14px;
    font-weight: bold;
    margin: 40px 0 40px 0;
  }
  img {
    width: 800px;
    height: 487px;
    border-radius: 10px;
    @include m {
      width: 340px;
      height: 250px;
    }
  }
}
// ---------------購買須知---------------
.productdetail__notice {
  h3 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: $pc_h4;
  }
  .productdetail__notice__list {
    max-width: 800px;
    background-color: #f4f4f4;
    padding: 50px;
    border-radius: 10px;
    @include m {
      padding: 30px;
    }
    li {
      font-size: 14px;
      list-style: disc;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }
}
// ---------------體驗地點---------------
.productdetail__address {
  h3 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: $pc_h4;
    @include m {
      margin: 10px 0 10px 0;
    }
  }
  iframe {
    @include m {
      width: 340px;
      height: 260px;
    }
  }
  div {
    border-top: 1px solid $l_gray;
    border-bottom: 1px solid $l_gray;
    margin: 30px 0 30px 0;
    padding: 10px 0 10px 0;
  }
  h5 {
    font-weight: bold;
    font-size: 14px;
  }
}
// ---------------旅客評價---------------
.productreview {
  border-top: 1px solid $l_gray;
  border-bottom: 1px solid $l_gray;
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
  h3 {
    font-weight: bold;
    font-size: $pc_h4;
  }
  .productreview__group {
    display: flex;
    align-items: flex-end;
    .productreview__score {
      background-color: $blue;
      width: 65px;
      height: 65px;
      border-radius: 10px;
      display: inline-block;
      margin-right: 30px;
      p {
        font-size: $pc_h3;
        text-align: center;
        color: $white;
        line-height: 65px;
      }
    }
    .productreview__star {
      display: flex;
      flex-direction: column;
      .star__color {
        color: $yellow;
        font-size: $pc_h3;
      }
    }
  }
}
// .ping-big {
//   border-top: 1px solid $orange;
//   border-bottom: 1px solid $orange;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   padding: 30px 0 30px 0;
// }
// ---------------留言---------------
.productdetail__message {
  margin: 30px 0 50px 0;
  span {
    font-size: $pc_h4;
  }
  h5 {
    background-color: #f4f4f4;
    font-size: 14px;
  }

  .productdetail__message_text {
    margin-left: 40px;
    p {
      font-size: $pc_h3;
      color: $yellow;
    }
    h5 {
      padding: 30px;
      border-radius: 10px;
    }
  }
}
// ---------------下方輪播卡---------------
.productdetail__bot {
  height: 437px;
  a {
    color: $black;
  }
}

.productdetail__open {
  transition: 2s;
  display: block;
}
.productdetail__none {
  transition: 2s;
  display: none;
}
.productdetail__directions--group {
  transition: 0.8s;
}

// ---------------上方輪播---------------
.productdetail__slideshow {
  .mySlidesFlex {
    z-index: 100;
    img {
      width: 703px;
      @include m {
        width: 100%;
      }
    }
  }
  .slick-prev:before {
    color: $blue;
  }
  .slick-next:before {
    color: $blue;
  }
}
