
.about2_title {
    margin-top: 125px;
    h1 {
      font-size: 32px;
      color: $blue;
      display: inline;
      @include m {
     
        font-size: 14px;
       }
    }
    h2 {
      font-size: 32px;
      display: inline;
    }
  }
  .about2__barcard {
    display: flex;
    max-width: 1100px;
    margin-top: 75px;
  }
  .about2__bar {
    display: flex;
    flex-direction: column;
    width: 250px;
    div {
      margin-bottom: 50px;
      background-color: #fff;
    }
    li {
      font-size: 16px;
      width: 250px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #747774;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
    h4 {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      line-height: 60px;
      border-bottom: 1px solid $gray;
    }
  }
  .about2__destination {
    .about2__open {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 60px;
      color: #747774;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $white;
      }
      .fa-solid {
        position: relative;
        left: 50px;
      }
    }
  }
  .about2__card {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    @include m {
      display: block;
     flex-direction: column;
    }
    .about2__card--group {
      width: 800px;
      background-color: #fff;
      display: flex;
      margin-bottom: 40px;
      @include m {
        width: 480px;
    background-color: #fff;
    display: block;
    margin-bottom: 40px
       }
    }
    .about2__card--img {
      img {
        width: 270px;
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
        @include m {
          margin-left: 10px;
          width: 89%;
          display: block;
           }
      }
    }
    .about2__card--title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 30px;
      @include m{
        padding: 0 50px;
      }
      h1 {
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
        @include m{
          font-size: 15px;
        }
      }
      h2 {
        font-size: 16px;
        color: $white;
        background-color: $orange;
        padding: 3px;
        margin-top: 20px;
      }
      div {
        display: flex;
        h3 {
          color: $yellow;
          line-height: 48px;
        }
        h4 {
          color: #747774;
          font-size: 16px;
          line-height: 48px;
        }
        h5 {
          font-weight: bold;
          font-size: 20px;
          line-height: 48px;
          margin-left: 140px;
          @include m{
            font-weight: bold;
      font-size: 20px;
       line-height: 48px; 
       margin-left: 50px;
          }
        }
      
      .about2__block{
        display: none;
      }
      .about2__city{
        display: block;
      }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 80px 0;
    @include m{
      display: flex;
      padding-right: 250px;
      margin: 0px 0 0px 0;
    }
    li {
      background-color: $white;
      width: 35px;
    }
    .page-link--current {
      background-color: $blue;
      display: block;
    }
    .page-item {
      border: 1px solid $gray;
      text-align: center;
      line-height: 30px;
      display: block;
      a {
        font-weight: bold;
        font-size: 14px;
        display: block;
      }
    }
    .page-link {
      font-size: $pc_h6;
      text-decoration: none;
      &:visited,
      &:active,
      &:link,
      &hover {
        color: $black;
      }
    }
  }