.breadcrumb {
  display: flex;
  margin: 0 30px;
  .breadcrumb__item:after {
    content: ">";
  }
  .breadcrumb__item {
    a {
      &:visited,
      &:active,
      &:link,
      &hover {
        color: $blue;
      }
    }
  }
  .breadcrumb__item--current {
    a {
      &:visited,
      &:active,
      &:link,
      &hover {
        color: $orange;
      }
    }
  }
}


.productdetail__fixedfield--container {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  .productdetail__fixedfield--group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    order: 2;
    .productdetail__fixedfield1 {
      background-color: $white;
      width: 300px;
      max-height: 200px;
      position: sticky;
      top: 120px;
      float: right;
      border: $l_gray 1px solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      h2 {
        font-size: 22px;
        margin-right: 100px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      button {
        background-color: $blue;
        width: 250px;
        height: 45px;
        border-radius: 10px;
        border: 0;
        color: $white;
        cursor: pointer;
        span {
          font-size: $pc_h6;
          font-weight: bold;
        }
        i {
          color: $white;
          margin-right: 10px;
          font-weight: bold;
        }
      }

      div {
        display: flex;
        align-items: center;
      }
    }
    .productdetail__fixedfield2 {
      a {
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        font-size: $pc_h6;
        color: $black;
        font-weight: bold;
        padding-left: 5px;
        cursor: pointer;
      }
      background-color: $white;
      width: 200px;
      height: 200px;
      position: sticky;
      top: 270px;
      padding: 5px;
      float: right;
      color: $gray;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .productdetail__scrollToTop {
      background-color: $blue;
      cursor: pointer;
      width: 40px;
      height: 40px;
      text-align: center;
      position: fixed;
      right: 30px;
      bottom: 50px;
      border-radius: 10px;
      i {
        color: $white;
        font-size: $pc_h1;
      }
    }
  }
}

.productdetail__container {
  max-width: 800px;
}

.productdetail__title {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: $pc_h4;
    font-weight: bold;
    display: inline;
  }
  i {
    color: $orange;
    font-size: $pc_h1;
    cursor: pointer;
  }
}

.productdetail__content {
  i {
    font-size: $pc_h6;
    margin-right: 10px;
  }
  h5 {
    color: $blue;
    display: inline;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    font-weight: bold;
  }
  div {
    p {
      display: inline;
      color: $yellow;
      font-size: 14px;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
    }
  }
}
.productdetail__time {
  margin-top: 70px;
  margin-bottom: 35px;
  padding: 30px 0 30px 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;

  display: flex;
  div {
    margin-right: 100px;
    i,
    span {
      margin-right: 10px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
.productdetail__list {
  ul {
    margin-left: 20px;
    li {
      list-style: disc;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
.productdetail__operate {
  border-bottom: 1px solid $l_gray;
  margin-top: 70px;
  margin-bottom: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  span {
    font-size: $pc_h6;
    cursor: pointer;
    color: $blue;
  }
  i {
    margin-left: 30px;
    color: $blue;
  }
}
.productdetail__directions {
  margin-bottom: 100px;
  h3 {
    font-weight: bold;
    margin-bottom: 45px;
    font-size: $pc_h4;
  }
  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
  }
}
.productdetail__img {
  p {
    font-size: 14px;
    font-weight: bold;
    margin: 40px 0 40px 0;
  }
  img {
    width: 800px;
    height: 487px;
    border-radius: 10px;
  }
}
.productdetail__notice {
  h3 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: $pc_h4;
  }
  .notice__list {
    max-width: 800px;
    // max-height: 800px;
    background-color: #f4f4f4;
    padding: 50px;
    border-radius: 10px;
    li {
      font-size: 14px;
      list-style: disc;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }
}

.productdetail__address {
  h3 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: $pc_h4;
  }
  img {
    width: 800px;
    height: 487px;
  }
  div {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    margin: 30px 0 30px 0;
    padding: 10px 0 10px 0;
  }
  h5 {
    font-weight: bold;
    font-size: 14px;
  }
}
.productreview {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
  h3 {
    font-weight: bold;
    font-size: $pc_h4;
  }
  .productreview__group {
    display: flex;
    align-items: flex-end;
    .productreview__score {
      background-color: $blue;
      width: 65px;
      height: 65px;
      border-radius: 10px;
      display: inline-block;
      margin-right: 30px;
      p {
        font-size: $pc_h3;
        text-align: center;
        color: $white;
        line-height: 65px;
      }
    }
    .productreview__star {
      display: flex;
      flex-direction: column;
      .star__color {
        color: $yellow;
        font-size: $pc_h3;
      }
    }
  }
}
.ping-big {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 0 30px 0;
}

.message {
  margin: 30px 0 50px 0;
  span {
    font-size: $pc_h4;
  }
  h5 {
    background-color: #f4f4f4;
    font-size: 14px;
  }

  .message_text {
    margin-left: 40px;
    p {
      font-size: $pc_h3;
      color: $yellow;
    }
    h5 {
      padding: 30px;
      border-radius: 10px;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
  li {
    background-color: $white;
    width: 35px;
   
  }
  .page__link--current {
    background-color: $blue;
    display: block;
  }
  .page-item {
    border: 1px solid $gray;
    text-align: center;
    line-height: 30px;
    display: block;
    a {
      font-weight: bold;
      font-size: 14px;
      display: block;
    }
  }
  .page-link {
    font-size: $pc_h6;
    text-decoration: none;
    &:visited,
    &:active,
    &:link,
    &hover {
      color: $black;
    }
  }
}

.productdetail__bot {
  background-color: #f4f4f4;
  height: 437px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    height: 187px;
    width: 302px;
    border-radius: 10px;
  }
  .card-body {
    .card-body_label {
      background-color: $orange;
      color: $white;
      padding: 5px;
    }
    h5 {
      font-weight: bold;
    }
    div {
      display: flex;
      p {
        color: $yellow;
        font-size: $pc_h6;
      }
      h5 {
        font-size: $pc_h6;
        color: $gray;
        font-weight: normal;
      }
      span {
        font-size: $pc_h6;
        color: $gray;
      }
    }
  }
}
.productdetail__header {
  height: 165px;
  // background-color: $gray;
  top: 0;
  position: sticky;
  z-index: 2;
}

.productdetail__footer {
  height: 309px;
  background-color: $gray;
}
.productdetail__open {
  transition: 2s;
  display: block;
}
.productdetail__none {
  transition: 2s;
  display: none;
}
.productdetail__directions--group {
  transition: 0.8s;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
  div{
    img{
      height: 420px;
      width: 700px;
    }
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

