.wrapper.productlist_new#app {
  position: relative;
  .black_bg {
    display: none;
    @include m {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($color: $black, $alpha: 0.5);
    }
  }
  .black_bg.on_watch {
    @include m {
      display: block;
    }
  }
  .productlist_new__main {
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .productlist_new__select {
      display: flex;
      max-width: 1100px;
      margin-top: 30px;
      @include m {
        flex-direction: column;
        margin-top: 0;
      }
      .productlist_new__bar {
        display: flex;
        flex-direction: column;
        width: 250px;
        @include m {
          width: 380px;
          position: relative;
        }
        div {
          
          margin-bottom: 50px;
          background-color: #fff;
          @include m {
            margin-bottom: 0;
            width: 100%;

            left: 0;
            right: 0;
            top: 50px;
            display: none;
          }

          li {
            font-size: 16px;
            width: 250px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            color: #747774;
            cursor: pointer;

            &:hover {
              background-color: $blue;
              color: $white;
            }
            @include m {
              width: 100%;
              // padding-top: 10px;
              line-height: 60px;
            }
          }
          h4 {
            padding: 10px 0;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px solid $gray;
          }
        }
        div.open {
          @include m {
            display: block;
          }
        }
        div.rwd_bar {
          display: none;
          @include m {
            display: block;
            top: 0;
            padding-bottom: 10px;
          }
          ul {
            li {
              @include m {
                padding-top: 0;
                margin-top: 10px;
                height: 40px;
                line-height: 40px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 10px;
                background-color: $blue;
                color: $white;
              }
            }
            @include m {
              display: flex;
              width: 100%;
            }
          }
        }
        .productlist_new__price{
          ul{
            li{
              display: flex;
              padding-left: 20%;
              input{
                margin-right: 10px;
              }
            }
          }
        }
        .productlist_new__destination {
          .productlist_new__open {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 60px;
            color: #747774;
            cursor: pointer;
            &:hover {
              background-color: $blue;
              color: $white;
            }
            @include m {
              padding-left: 12px;
              width: 100%;
            }
            .fa-solid {
              position: relative;
              left: 50px;
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            @include m {
              display: flex;
              flex-wrap: wrap;
              justify-content: start;
            }
            li {
              width: 50%;
              @include m {
                width: 50%;
                line-height: 60px;
              }
            }
          }
        }
        .productlist_new__category{
          ul{
            li{
             display: flex;
             padding-left: 30%;
             input{
              margin-right: 10px;
            }
            }
          }
        }
      }
      .productlist_new_card_list1 {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        
      
        @include m {
          margin-left: 0;
        }
        .productlist_new__sort1{
          width: 100%;
          background-color: $white;
          display: flex;
         
          padding: 20px 0;
          border-radius: 10px;
          @include m{
            margin-top: 10px;
            background-color:#f4f4f4;
            // display: none;
          }
          h5{
            margin-left: 10px;
            @include m{
              width: 100px;
   
               font-size: 15px;
            }
          }
          ul{
            font-size: 16px;
            display: flex;
            @include m{
              font-size: 12px;
              flex-wrap: wrap;
            }
           
            li{
              margin: 5px 10px;
              padding: 0px 5px;
              color: $gray;
              border-radius: 10px;
              cursor: pointer;
              @include m{
                margin: 0px;
                padding: 0px;
                margin-right: 6px;
              }
              
            }
          }

        }
        .productlist_new__sort.open{
          @include m{
            display: block;
            position: absolute;
            top: 50px;
          }
        }
        .product-card-row{
          margin-top: 30px;
          @include m{
            margin-left: 30px;
            margin-top: 10px;
          }
          .product-tag{
            
            width: 100px;
            
          }
        }
      }
    }
  }
}
body.stop_scroll {
  height: 100%;
  overflow: hidden;
}


.productlist_new__pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
  li {
    background-color: $white;
    width: 35px;
  }
  .productlist_new__page-link--current {
    background-color: $blue;
    display: block;
  }
  .productlist_new__page-item {
    border: 1px solid $gray;
    text-align: center;
    line-height: 30px;
    display: block;
    a {
      font-weight: bold;
      font-size: 14px;
      display: block;
    }
  }
  .productlist_new__page-link {
    font-size: $pc_h6;
    text-decoration: none;
    &:visited,
    &:active,
    &:link,
    &hover {
      color: $black;
    }
  }
}
