.qa {
  .topbanner {
    background-image: url("../img/otherpage/qa-banner.jpg");
    height: 255px;

    background-size: cover;
    background-position: center center;
    @include m {
      background-image: url(none);
      background-color: $yellow;
      height: 200px;
    }
    .topbanner__text {
      color: $gray;
      text-align: center;
      padding-top: 20px;
      font-weight: bold;
      @include m {
        color: $black;
      }
    }
    .top-btn {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      @include m {
        padding-top: 10px;
      }
      .btn {
        height: 60px;
        width: 120px;
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        background-color: $white;
        @include m {
          height: 40px;
          width: 100px;
          margin-left: 30px;
          margin-right: 30px;
        }

        h5 {
          text-align: center;
          font-weight: bold;
          border-radius: 15px;
          line-height: 60px;
          @include m {
            line-height: 40px;
          }
        }
      }
      :hover {
        background-color: $blue;
        color: $white;
      }
      .btn.on_watch {
        background-color: $blue;
        color: $white;
      }
    }
  }
  .mid {
    display: flex;
    justify-content: center;
    @include m {
      flex-direction: column;
    }

    .leftnav {
      width: 200px;
      position: sticky;
      top: 110px;
      height: 300px;
      @include m {
        width: 100%;
        position: static;
        height: auto;
        padding-left: 3px;
        padding-right: 3px;
      }
      ul.ttoc {
        text-align: center;
        box-sizing: border-box;
        @include m {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-bottom: 10px;
          border-bottom: 2px solid $black;
          margin-top: 30px;
          margin-bottom: 0;
          
        }

        li {
          padding: 3px;
          cursor: pointer;
          width: 50%;
          box-sizing: border-box;
          margin-bottom: 5px;
          @include m {
            width: 25%;
            padding: 0 5px;
            margin: 5px;
            background-color: $blue;
            color: $white;
            border-radius: 10px;
          }
        }
        li.on {
          color: $blue;
          border-bottom: 2px solid $blue;
          box-sizing: border-box;
          @include m {
            color: $white;
            border: none;
          }
        }
      }
    }
    .question {
      padding-bottom: 40px;
      .question_type {
        margin-bottom: 10px;
        margin-right: 10px;
        @include m {
          margin-right: 10px;
          margin-left: 10px;
        }
        h5 {
          margin-bottom: 10px;
          @include m {
            text-align: center;
          }
        }
        .question_content {
          box-shadow: 0 0 4px $gray;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 30px;
          width: 600px;
          @include m {
            width: 100%;
          }
          h6 {
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            button {
              position: absolute;
              right: 0;
              border: none;
              background-color: #fff;
              height: 100%;

              :hover {
                transform: scale(1.1);
              }
              //  button.hand{
              //   cursor: pointer;
              //  }
              i {
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
          .question_a {
            p {
              margin-bottom: 10px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  .-close {
    display: none;
  }
}

// productlist_new
.wrapper.productlist_new#app {
  position: relative;
  .black_bg {
    display: none;
    @include m {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 20;
      background-color: rgba($color: $black, $alpha: 0.5);
    }
  }
  .black_bg.on_watch {
    @include m {
      display: block;
    }
  }
  .productlist_new__main {
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .productlist_new__select {
      display: flex;
      max-width: 1100px;
      margin-top: 30px;
      @include m {
        flex-direction: column;
        margin-top: 0;
      }
      .productlist_new__bar {
        display: flex;
        flex-direction: column;
        width: 250px;
        @include m {
          width: 380px;
          position: absolute;
          z-index: 21;
        }
        div {
          
          margin-bottom: 50px;
          background-color: #fff;
          @include m {
            margin-bottom: 0;
            width: 100%;

            left: 0;
            right: 0;
            top: 50px;
            display: none;
          }

          li {
            font-size: 16px;
            width: 250px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            color: #747774;
            cursor: pointer;

            &:hover {
              background-color: $blue;
              color: $white;
            }
            @include m {
              width: 100%;
              // padding-top: 10px;
              line-height: 60px;
            }
          }
          h4 {
            padding: 10px 0;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px solid $gray;
          }
        }
        div.open {
          @include m {
            display: block;
          }
        }
        div.rwd_bar {
          display: none;
          @include m {
            display: block;
            top: 0;
            padding-bottom: 10px;
          }
          ul {
            li {
              @include m {
                padding-top: 0;
                margin-top: 10px;
                height: 40px;
                line-height: 40px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 10px;
                background-color: $blue;
                color: $white;
              }
            }
            @include m {
              display: flex;
              width: 100%;
            }
          }
        }
        .productlist_new__price{
          ul{
            li{
              display: flex;
              padding-left: 20%;
              input{
                margin-right: 10px;
              }
            }
          }
        }
        .productlist_new__destination {
          .productlist_new__open {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 60px;
            color: #747774;
            cursor: pointer;
            &:hover {
              background-color: $blue;
              color: $white;
            }
            @include m {
              padding-left: 12px;
              width: 100%;
            }
            .fa-solid {
              position: relative;
              left: 50px;
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            @include m {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
            }
            li {
              width: 50%;
              @include m {
                width: 50%;
                line-height: 60px;
              }
            }
          }
        }
        .productlist_new__category{
          ul{
            li{
             display: flex;
             padding-left: 30%;
             input{
              margin-right: 10px;
            }
            }
          }
        }
      }
      .productlist_new_card_list {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        
      
        @include m {
          margin-left: 0;
        }
        .productlist_new__sort{
          width: 100%;
          background-color: $white;
          display: flex;
          flex-direction: column;
          padding: 20px 0;
          border-radius: 10px;
          @include m{
          
            // display: none;
          }
          h5{
            margin-left: 10px;
          }
          ul{
            display: flex;
            li{
              margin: 5px 10px;
              padding: 0px 5px;
              color: $gray;
              border-radius: 10px;
              cursor: pointer;
              
            }
          }

        }
        .productlist_new__sort.open{
          @include m{
            display: block;
            position: absolute;
            top: 50px;
          }
        }
        .product-card-row{
          margin-top: 30px;
          .product-tag{
            
            width: 100px;
            
          }
        }
      }
    }
  }
}
body.stop_scroll {
  height: 100%;
  overflow: hidden;
}


.productlist_new__pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
  li {
    background-color: $white;
    width: 35px;
  }
  .productlist_new__page-link--current {
    background-color: $blue;
    display: block;
  }
  .productlist_new__page-item {
    border: 1px solid $gray;
    text-align: center;
    line-height: 30px;
    display: block;
    a {
      font-weight: bold;
      font-size: 14px;
      display: block;
    }
  }
  .productlist_new__page-link {
    font-size: $pc_h6;
    text-decoration: none;
    &:visited,
    &:active,
    &:link,
    &hover {
      color: $black;
    }
  }
}
