.sign_upbg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/otherpage/signup01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


  // @include m {
  //   display: none;
  // }
}



.sur h3 {
  padding-bottom: 20px;
  margin-top: 25px;
  margin-left: 60px;

}

.sur p {

  display: block;

}

.container.sign_up {
  width: 100%;
  height: 100%;
  padding-top: 7%;

  padding-left: 45%;

}

.sur {


  width: 370px;
  height: 400px;



  padding-top: 3px;

  border-radius: 20px;
  background-color: $white;

  @include m {
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
  }


}

.sur form {
  padding-left: 69px;
  line-height: 2.4;
  padding-bottom: 10px;
}

.email input {
  width: 242px;
  height: 52px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 5px;
  text-indent: 5px;
  color: $gray;
}

.password input {
  width: 242px;
  height: 52px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 5px;
  text-indent: 5px;
  color: $gray;
}

.passwordag input {
  width: 242px;
  height: 52px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid $gray;
  border-radius: 5px;
  text-indent: 5px;
  color: $gray;
}

.submit {
  display: block;
  width: 242px;
  height: 52px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  outline: none;

}

.formbuttom {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.sign_up_a {
  display: block;


  color: $orange;

  text-align: center;
  text-decoration: none;
}

.email {
  color: $gray;
  position: relative;
  display: inline-block;
}

.email .fa-regular {
  /*左邊圖示*/
  position: absolute;
  right: 3px;
  top: calc(50% - 0.7em);
  font-size: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0 auto;
}

.password {
  color: $gray;
  position: relative;
  display: inline-block;
}

.password .fa-regular {
  /*左邊圖示*/
  position: absolute;
  right: 3px;
  top: calc(50% - 0.7em);
  font-size: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0 auto;
}

.passwordag {
  color: $gray;
  position: relative;
  display: inline-block;
}

.passwordag .fa-regular {
  /*左邊圖示*/
  position: absolute;
  right: 3px;
  top: calc(50% - 0.7em);
  font-size: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0 auto;
}