
.sign_upbg {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/otherpage/signup01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.sur h1 {
  padding-bottom: 20px;
  margin-top: 25px;
  margin-left: 60px;
}

.sur p {

  margin-left: 72px;
}



.sur{
  position: absolute;
  width: 567px;
  height: 599px;
  left: 988px;
  top: 185px;
  border-radius: 20px;



  background-color: $white;


}

.sur form {
  padding-left: 69px;
  padding-top: 20px;
  margin-top: 30px;
  line-height: 2.4;
  padding-bottom: 10px;
}

.surform input {
  width: 411px;
  height: 59px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid $gray;
  border-radius: 5px;
  text-indent: 5px;

}

.submit {
  display: block;
  width: 147px;
  height: 21.5px;
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: $blue;
  color: $white;
  cursor:pointer;
  outline: none;
}

.formbuttom {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.sign_up_a {
  display: block;


  color: $orange;
  margin-left: 230px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-regular {
  padding-right: 10px;
}

.email{
  color: $gray;
}