$pc_h1: 40px !default;
$pc_h2: 35px !default;
$pc_h3: 30px !default;
$pc_h4: 25px !default;
$pc_h5: 20px !default;
$pc_h6: 16px !default;

$pc_price: 16px !default;
$pc_gray: 14px !default;



$rwd_h1: 32px !default;
$rwd_h2: 29px !default;
$rwd_h3: 26px !default;
$rwd_h4: 23px !default;
$rwd_h5: 20px !default;
$rwd_h6: 16px !default;

$rwd_price: 16px !default;
$rwd_gray: 14px !default;

$default_fz: 16px !default;
