@use "sass:math";
@import "./base/base.scss";
@import "./page/page.scss";
@import "./component/component.scss";
@import "./mixin/mixin.scss";

// .htob {
//   // header下方和banner不要有空隙時 給banner
//   margin-top: 165px;
// }

.nb {
  // 沒有麵包屑時 給內容
  padding-top: 50px;
}

.hb {
  // 有麵包屑時 給麵包屑
  margin-top: 30px;
  margin-bottom: 20px;
}

.ftoc {
  //footer to 內容 給footer
  margin-top: 80px;
}

.ttoc {
  //card to title & title to card 給title
  margin-top: 70px;
  margin-bottom: 35px;
}

.ctoc {
  // card to card 給上方的card
  margin-bottom: 100px;
}

.wrapper {
  // 每個頁面的最外層
  line-height: 1.6;
  font-size: $default_fz;
}

.container {
  // 需要包在1200px裡面的內容
  margin: 0 auto;
  max-width: 1200px;
}

.price {
  // product的價格顯示
  font-size: $pc_price;
  font-weight: bold;
}

.gray {
  // card下方的灰色文字顯示
  font-size: $pc_gray;
  color: $gray;
}

.product-tag {
  padding: 2.5px 4px;
  font-size: 16px;
  color: $white;
  background-color: $orange;
  text-align: center;
  // margin-top: 15px;
}

.blueBtn {
  @include btn($blue, $white, 10px);
  transition: all 0.3s;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.yellowBtn {
  @include btn($yellow, $black, 10px);

  transition: all 0.3s;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.orangeBtn {
  @include btn($orange, $white, 10px);
}

h1 {
  font-size: $pc_h1;
}

h2 {
  font-size: $pc_h2;
}

h3 {
  font-size: $pc_h3;
}

h4 {
  font-size: $pc_h4;
}

h5 {
  font-size: $pc_h5;
}

h6 {
  font-size: $pc_h6;
}

@include pc {
  // 1200以內
}

@include m {
  // 768以內
  .price {
    font-size: $rwd_price;
    font-weight: bold;
  }

  .gray {
    font-size: $rwd_gray;
    color: $gray;
  }

  h1 {
    font-size: $rwd_h1;
    // color: $blue;
  }

  h2 {
    font-size: $rwd_h2;
  }

  h3 {
    font-size: $rwd_h3;
  }

  h4 {
    font-size: $rwd_h4;
  }

  h5 {
    font-size: $rwd_h5;
  }

  h6 {
    font-size: $rwd_h6;
  }
}

a {
  text-decoration: none;
}

.em {
  color: #e61f6e;
}
