<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>會員管理</title>

    <!-- Custom fonts for this template -->
    <link
      href="../vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="../vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../vendor/jquery-ui-1.13.2/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: rgb(243, 243, 243)"
      >
        <!-- Sidebar - Brand -->
        <div>
          <img
            src="../img/Weeee!.svg"
            style="width: 180px; height: 70px; padding-left: 20px"
          />
        </div>

        <!-- Nav Item - Tables -->
        <li class="nav-item active">
          <a class="nav-link" href="../order/list.html">
            <!-- <i class="fas fa-fw fa-table"></i> -->
            <span style="font-size: 20px; color: #4484ce">訂單管理</span></a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="../product/list.html">
            <!-- <i class="fas fa-fw fa-table"></i> -->
            <span style="font-size: 20px; color: #4484ce">商品管理</span></a
          >
        </li>

        <li class="nav-item active" style="background-color: #f19f4d" ;>
          <a class="nav-link" href="../member/list.html">
            <!-- <i class="fas fa-user"></i> -->
            <span style="font-size: 20px">會員管理</span></a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="../jo/list.html">
            <!-- <i class="fas fa-fw fa-table"></i> -->
            <span style="font-size: 20px; color: #4484ce">揪團管理</span></a
          >
        </li>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            ></form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Emily</span
                  >
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    登出
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <form action="">
              <h1 class="h3 mb-2 text-gray-800">會員查詢</h1>
              <div class="row">
                <div class="col-12">
                  <input
                    type="text"
                    placeholder="會員編號"
                    class="member_number filter enter"
                    id="memberNumber"
                  />
                  <input
                    type="text"
                    placeholder="使用者名稱"
                    class="user_name filter enter"
                    id="username"
                  />
                  <select
                    class="form_select enter"
                    name="member_status"
                    id="memberStatus"
                  >
                    <option value="">請選擇</option>
                    <option value="1">正常</option>
                    <option value="0">凍結中</option>
                  </select>
                </div>
              </div>

              <div class="row row_bottom">
                <div class="col-12">
                  <input
                    type="text"
                    id="from"
                    name="from"
                    placeholder="加入日期"
                    class="date_select enter"
                  />
                  ～
                  <input
                    type="text"
                    id="to"
                    name="to"
                    class="filter enter"
                  />
                  <button
                    type="button"
                    class="btn btn-warning submit_button"
                    id="searchBtn"
                    onclick="search();"
                  >
                    搜尋
                  </button>
                </div>
              </div>
            </form>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold list_style">會員列表</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive" id="app">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>會員編號</th>
                        <th>使用者名稱</th>
                        <th>加入日期</th>
                        <th>狀態</th>
                        <th>動作</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(member, index) in memberList" :key="index">
                        <td>{{member.MemberNumber}}</td>
                        <td>{{member.Username}}</td>
                        <td>{{member.MemCreateDate}}</td>
                        <td v-if="member.MemStatus == 1">正常</td>
                        <td v-else>凍結中</td>
                        <td v-if="member.MemStatus == 1">
                          <a href="javascript: void(0);" v-on:click.prevent="toggleStatus(member.MemberNumber)">凍結<i class="fas fa-ban" style="margin-left: 10px"></i></a>
                        </td>
                        <td v-if="member.MemStatus == 0">
                          <a href="javascript: void(0);" v-on:click.prevent="toggleStatus(member.MemberNumber)">恢復<i class="fas fa-check" style="margin-left: 10px"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">確定要登出嗎?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">離開前，記得要儲存所有變更唷!</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              取消
            </button>
            <a class="btn btn-primary" href="../php/logout.php">登出</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- 加入vue -->
    <script src="../vendor/vue/vue.global.js"></script>
    <!-- <script src="./vendors/vue/vue.global.prod.js"></script> -->

    <!-- 加入sweet alert -->
    <script src="../vendor/sweetAlert/sweetalert2.all.min.js"></script>

    <!-- 加入date picker -->
    <script src="../vendor/jquery-ui-1.13.2/jquery-ui.js"></script>


    <script>
        //日曆
        $( function() {
          // default date
          let today = new Date();
          let tomorrow = new Date();
          tomorrow.setDate(today.getDate() + 1);
          // $("#from").val(today.toISOString().split('T')[0]);
          // $("#to").val(tomorrow.toISOString().split('T')[0]);

          var dateFormat = "yy-mm-dd"; // 指定日期字串轉給js看的日期的格式

          var from = $( "#from" )
              .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "yy-mm-dd",
                maxDate: today
              })
              .on( "change", function() { // 註冊開始日期change事件
                to.datepicker( "option", "minDate", getDate( this ) ); // 讓to小於from的日期都不能選
                
              });
              
          var to = $( "#to" )
            .datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            maxDate: today
            })
            .on( "change", function() { // 註冊結束日期change事件
            from.datepicker( "option", "maxDate", getDate( this ) ); // 讓from大於to的日期都不能選
            });
       
          function getDate( element ) {
            var date;
            try {
              console.log(element.value); // 字串
              date = $.datepicker.parseDate( dateFormat, element.value );
              console.log(date); 
            } catch( error ) {
              console.log("格式錯誤");
              date = null;
            }
            return date;
          }
        } );

         // 按enter可送出搜尋
         $(document).ready(function(){
            let enter = document.getElementsByClassName("enter");
            for(let i = 0; i < enter.length; i++){
                $(enter[i]).keyup(function(event){
                    if(event.which == 13){
                        $("#searchBtn").click();
                    }
                })
            }
        });
        
      let dataTable;
      let memberList;

      //一進到此頁面，發請求去資料庫要所有會員資料
      $.ajax({
        method: "GET",
        url: "../php/query_member.php",
        async: false, //開啟同步化功能，讓response先回來，再走下面的初始化vue
        data: {},
        dataType: "json",
        success: function (response) {
          //防止直接打網址進入
          if (response.loginCheckFailed) {
                window.location.href = "../login.html";
            }
          memberList = response;
        },
      });

      const RootComponent = {
        data() {
          // 用vue把下列資料顯示在html上
          return {
            memberList: memberList,
          };
        },
        methods: {
            toggleStatus: function(memberNumber){
               
                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "修改成功",
                    showConfirmButton: false,
                    timer: 1000,
                }).then(function(){
                    window.location.href = "../php/memberStatusToggle.php?memberNumber=" + memberNumber;
                });
            }
        },
        mounted() {
          // 掛載完成後，初始化DataTable
          dataTable = $("#dataTable").DataTable();
        },
        beforeUpdate() {
          // 更新資料之前，將舊的DataTable毀掉
          dataTable.destroy();
        },
        updated() {
          // 新的資料更新完後，再重新初始化DataTable
          dataTable = $("#dataTable").DataTable();
        },
      };

      var app = Vue.createApp(RootComponent);
      var vm = app.mount("#app"); //如果想操控這個vue，都需要透過vm

      function search() {
        $.ajax({
          data: {
            memberNumber: document.getElementById("memberNumber").value,
            username: document.getElementById("username").value,
            memberStatus: document.getElementById("memberStatus").value,
            from: document.getElementById("from").value,
            to: document.getElementById("to").value
          },
          url: "../php/query_member.php",
          async: false,
          method: "GET",
          dataType: "json",
          success: function (response) {
            vm.$data.memberList = response;
          },
        });

        return; //serach()這個方法結束了
      }
     
    </script>
  </body>
</html>
