.index {
  header {
    height: 165px;
    width: 1280px;
    background-color: $gray;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 40px;
    color: $white;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
  }

  .topbanner {
    background-image: url("../../img/otherpage/index-topbanner1.jpg");
    height: 330px;
    background-size: cover;
    background-position: center center;

    .topbanner__text {
      color: $white;
      text-align: center;
      padding-top: 80px;
    }
  }
}
