.product-card-row-list {
  display: flex;
  flex-direction: column;
}

.product-card-row {
  width: 810px;
  height: 250px;
  // background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $black;
  // outline: 1px solid $gray;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover .product-card-row__left__pic {
    transform: scale(1.2);

    @include m {
      transform: scale(1);
    }
  }
  @include m {
    flex-direction: column;
    width: 350px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .change-heart {
    height: 30px;
    width: 30px;
    // background-color: red;
    color: $l_gray;
    position: absolute;
    cursor: pointer;
    top: 28px;
    right: 10px;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;

    @include m {
      // display: none;
      color: $white;
      top: 10px;
      right: 10px;
    }
  }
  .product-card-row__left {
    width: 270px;
    height: 250px;
    overflow: hidden;
    position: relative;
    // background-color: aqua;
    // background-image: url("../img/jo/jo_aquarium.jpg");
    // background-size: cover;
    // border-radius: 10px;
    .product-card-row__location {
      display: none;
      @include m {
        // display: block;
        position: absolute;
        color: $white;
        display: flex;
        width: 70px;
        justify-content: space-around;
        align-items: center;
        top: 10px;
        left: 10px;
      }
    }
    @include m {
      width: 330px;
      // width: auto;
      height: 155px;
      box-sizing: border-box;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .product-card-row__left__pic {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      box-sizing: border-box;

      .product-card-row__picsrc {
        width: 100%;
        height: 100%;
        background-image: url("../img/jo/jo_aquarium.jpg");
        background-size: cover;
        box-sizing: border-box;
      }
    }
  }
  .product-card-row__right {
    width: 540px;
    height: 250px;
    padding: 30px 25px 0px;
    box-sizing: border-box;

    @include m {
      width: auto;
      // padding: 30px 25px 30px;
      height: auto;
      padding: 0 10px 10px;
      display: flex;
      flex-direction: column;
    }

    .price {
      float: right;
    }

    .product-name {
      margin-bottom: 20px;

      @include m {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
    .product__text {
      margin-bottom: 15px;
      @include m {
        display: none;
      }
    }
  }
  .fa-star {
    color: $yellow;
    margin-right: 5px;
  }

  .product-tag {
    // width: 300px;
    // display: block;
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;

    @include m {
      // margin-top: 30px;
      order: -1;
    }
  }
}
