.product-list {
  // 1280斷點
  display: flex;
  position: relative;
  @include m {
    width: 350px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 45px;
    color: $blue;
  }

  .slick-prev:before {
    position: absolute;
    top: 0px;
    left: -50px;

    @include lg() {
      left: -30px;
    }
  }
  .slick-next:before {
    position: absolute;
    top: 0px;
    right: -50px;
    // @include lg {
    //   right: -30px;
    // }
  }
  // .slider-right {
  //   position: absolute;
  //   width: 45px;
  //   height: 45px;
  //   border-radius: 45px;
  //   background-color: $blue;
  //   top: 56px;
  //   right: -30px;
  //   z-index: 20;
  //   font-size: 17px;
  //   color: $white;
  //   text-align: center;
  //   padding-top: 10px;
  //   box-sizing: border-box;
  // }
  .product-card {
    width: 390px;
    height: 340px;
    // width: 100%;
    // width: 320px;
    position: relative;
    cursor: pointer;
    // margin-right: 20px;
    margin: 0 10px;
    background-color: $white;
    border-radius: 10px;

    // @include lg {
    //   width: auto;
    //   height: auto;
    //   overflow: hidden;
    // }

    @include m {
      height: auto;
      overflow: hidden;
    }
    .change-heart {
      height: 30px;
      width: 30px;
      // background-color: red;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
      z-index: 15;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover .product-card__top__pic {
      transform: scale(1.2);
      @include m {
        transform: none;
      }
    }

    .fa-heart,
    .fa-trash {
      // position: absolute;
      // top: 20px;
      // right: 20px;
      color: white;
    }

    .fa-heart.orange {
      color: $orange;
    }
    .product-card__location {
      position: absolute;
      z-index: 15;
      color: white;
      width: 70px;
      height: 35px;
      // background-color: $blue;
      top: 10px;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .fa-location-dot {
        // position: absolute;
        // top: 20px;
        // left: 20px;
        // z-index: 15;
      }

      .p__location {
        // position: absolute;
        // top: 20px;
        // left: 40px;
        // z-index: 15;
      }
    }
    .product-card__top {
      color: $white;
      // width: 390px;
      height: 155px;
      width: 100%;
      margin-bottom: 15px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
      background-position: center center;
      @include m {
        margin-bottom: 10px;
      }

      .product-card__top__pic {
        width: 100%;
        height: 100%;
        transition: 0.3s;
        @include m {
          border-radius: 10px;
          overflow: hidden;
        }
      }

      .product-card__top__picsrc {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        background-size: cover;

        &.p1 {
          background-image: url("../img/sightseeing/fr_28_1.jpg");
        }

        &.p2 {
          background-image: url("../img/sightseeing/fr_27_1.jpg");
        }

        &.p3 {
          background-image: url("../img/sightseeing/fr_3_1.jpg");
        }

        @include m {
          width: auto;
        }
      }
    }

    .product-card__bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 10px 5px;

      @include m {
        padding: 0 5px 5px;
      }
      .product-name {
        margin-bottom: 5px;
        font-size: 20px;
        color: $black;
      }

      h6 {
        margin-top: 10px;
        @include m {
          margin-top: 10px;
        }
      }

      .fa-star {
        margin-right: 5px;
        color: $yellow;
      }

      .price {
        color: $black;
      }
    }
  }

  // @include pc {
  //   // 1200以內
  //   // .slick-prev:before,
  //   // .slick-next:before {
  //   //   font-size: 25px;
  //   //   color: $blue;
  //   // }

  //   .slick-prev:before {
  //     position: absolute;
  //     top: 0px;
  //     left: 0px;
  //   }
  //   .slick-next:before {
  //     position: absolute;
  //     top: 0px;
  //     right: 0px;
  //   }
  // }

  @include m {
    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
  }
}

// .product-list {
//   color: red;
// }
