@mixin desktop {
  @media all and (max-width: $desktop_breakpoint) {
    // 桌電斷點
    @content;
  }
}

@mixin pc {
  @media all and (max-width: $pc_breakpoint) {
    // 暫時未知是給誰用
    @content;
  }
}

@mixin m {
  @media all and (max-width: $m_breakpoint) {
    //手機板
    @content;
  }
}

@mixin t_color {
  @for $i from 1 through 6 {
  }
}

// btn
@mixin btn($bgc, $color, $borderRadius: null) {
  background-color: $bgc;
  text-align: center;
  // width: $size;
  padding: 10px 30px;
  font-size: 20px;
  color: $color;
  cursor: pointer;
  border-radius: $borderRadius;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
  border: none;

  // &:hover {
  //   background-color: darken($bgc, 10);
  // }
}
