html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.index header {
  height: 165px;
  width: 100%;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 30;
}
.index .topbanner {
  background-image: url("../img/otherpage/index_topbanner1.jpg");
  height: 330px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
}
.index .topbanner .topbanner__text {
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
}
.index .product-card__top__pic.p1 {
  background-image: url("../../img/sightseeing/fr_28_1.jpg");
}
.index .product-card__top__pic.p2 {
  background-image: url("../../img/sightseeing/fr_27_1.jpg");
}
.index .product-card__top__pic.p3 {
  background-image: url("../../img/sightseeing/fr_3_1.jpg");
}
.index .jo-card__top.j1 {
  background-image: url("../../img/jo/jo_nanjingeasteat1.jpg");
}
.index .jo-card__top.j2 {
  background-image: url("../../img/jo/jo_boardgame1.jpg");
}
.index .jo-card__top.j3 {
  background-image: url("../../img/jo/jo_raohenightmarket1.jpg");
}
.index .jo-card__bottom__message .member-pic.m1 {
  background-image: url("../img/jo/jo_memberpic1.jpg");
}
.index .jo-card__bottom__message .member-pic.m2 {
  background-image: url("../img/jo/jo_memberpic2.jpg");
}
.index .jo-card__bottom__message .member-pic.m3 {
  background-image: url("../img/jo/jo_memberpic3.jpg");
}
.index .popular-country__list {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.index .popular-country__list .popular-country {
  width: 180px;
  height: 270px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s;
}
.index .popular-country__list .popular-country:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}
.index .popular-country__list .popular-country.c1 {
  background-image: url("../img/otherpage/index_nantou1.jpg");
  background-position: center center;
  background-size: cover;
}
.index .popular-country__list .popular-country.c2 {
  background-image: url("../img/otherpage/index_taichung1.jpg");
  background-position: center center;
  background-size: cover;
}
.index .popular-country__list .popular-country.c3 {
  background-image: url("../img/otherpage/index_changhua1.jpg");
  background-position: center center;
  background-size: cover;
}
.index .popular-country__list .popular-country.c4 {
  background-image: url("../img/otherpage/index_yunlin1.jpg");
  background-position: center center;
  background-size: cover;
}
.index .popular-country__list .popular-country.c5 {
  background-image: url("../img/otherpage/index_hualian1.jpg");
  background-position: center center;
  background-size: cover;
}
.index .popular-country__list .popular-country.active {
  width: 360px;
  height: 270px;
}
.index .popular-country__list .popular-country.active .caption {
  top: 150px;
  left: 0px;
}
.index .popular-country__list .popular-country.active .popular-country__bottom {
  bottom: -10px;
}
.index .popular-country__list .popular-country .overlap {
  width: 100%;
  height: 100%;
}
.index .popular-country__list .popular-country .caption {
  font-size: 35px;
  padding-left: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  position: absolute;
  top: 202px;
  left: 0px;
  transition: all 0.3s;
}
.index .popular-country__list .popular-country .popular-country__bottom {
  width: 360px;
  height: 64px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s;
  bottom: -100px;
  left: 0px;
}
.index .popular-country__list .popular-country .popular-country__bottom .travel {
  border: 1px solid #ffffff;
  border-radius: 40px;
  padding: 5px 10px;
  color: #ffffff;
}
.index .popular-country__list .popular-country .popular-country__bottom .travel:hover {
  background-color: rgba(217, 217, 217, 0.5);
}
.index .popular-country__list .popular-country .popular-country__bottom .ticket {
  border: 1px solid #ffffff;
  border-radius: 40px;
  padding: 5px 10px;
  color: #ffffff;
}
.index .popular-country__list .popular-country .popular-country__bottom .ticket:hover {
  background-color: rgba(217, 217, 217, 0.5);
}
.index .popular-country__list .popular-country .popular-country__bottom .local {
  border-radius: 40px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgba(217, 217, 217, 0.5);
}
.index .bottombanner {
  height: 330px;
  margin-top: 120px;
  background-image: url("../img/otherpage/index_bottombanner1.jpg");
  display: flex;
  align-items: center;
}
.index .bottombanner .bottom__text {
  color: #ffffff;
}
.index .bottombanner .bottom__text .medium {
  font-size: 35px;
}
.index .bottombanner .bottom__text .bigger {
  font-size: 70px;
}
.index .lazybag {
  width: 1000px;
  margin: 0 auto;
}
.index .lazybag .lazybag__title {
  margin-top: 45px;
  margin-bottom: 20px;
}
.index .lazybag .lazybag__list {
  display: flex;
  flex-wrap: wrap;
}
.index .lazybag .lazybag__list a {
  margin-right: 15px;
  margin-bottom: 20px;
  color: #000000;
  transition: all 0.3s;
}
.index .lazybag .lazybag__list a:hover {
  color: #4484ce;
}
.index .easydin {
  width: 1000px;
  margin: 0 auto;
}
.index .easydin .easydin__title {
  margin-bottom: 20px;
}
.index .easydin .easydin__list {
  display: flex;
  flex-wrap: wrap;
}
.index .easydin .easydin__list a {
  margin-right: 15px;
  margin-bottom: 20px;
  color: #000000;
  transition: all 0.3s;
}
.index .easydin .easydin__list a:hover {
  color: #4484ce;
}
.index .footer {
  height: 310px;
  background-color: #747774;
}
.index .footer .footcontent h1 {
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
}

.jo_detail {
  background-color: #f4f4f4;
}
.jo_detail header {
  height: 165px;
  width: 100%;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 30;
}
.jo_detail .jo__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.jo_detail .jo__img {
  height: 520px;
  background-image: url("../img/jo/jo_wanttoseefish.jpg");
  border-radius: 10px;
  margin-bottom: 75px;
}
.jo_detail .jo__content {
  font-size: 35px;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 75px;
}
.jo_detail .jo-leader {
  padding: 75px 10px;
  background-color: #ffffff;
  margin-bottom: 70px;
  border-radius: 10px;
}
.jo_detail .jo-leader .jo-leader__top {
  display: flex;
  margin-bottom: 70px;
}
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__left {
  flex-grow: 1;
  flex-basis: 0;
}
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__left .jo-leader-img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/jo/jo_leader1.jpg");
  margin: 0 auto 20px;
}
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__left .jo-leader-name {
  font-size: 35px;
  text-align: center;
}
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__right {
  flex-grow: 1;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 0;
}
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__right .jo-start-date i,
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__right .jo-location i,
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__right .jo-detailaddress i,
.jo_detail .jo-leader .jo-leader__top .jo-leader__top__right .jo-number i {
  width: 60px;
}
.jo_detail .jo-leader .jo-leader__bottom {
  display: flex;
}
.jo_detail .jo-leader .jo-leader__bottom .jo-leader__bottom__left {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
}
.jo_detail .jo-leader .jo-leader__bottom .jo-leader__bottom__left .contact-leader {
  display: block;
  margin: 0 auto;
}
.jo_detail .jo-leader .jo-leader__bottom .jo-leader__bottom__right {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 35px;
}
.jo_detail .jo-leader .jo-leader__bottom .jo-leader__bottom__right .contact-title {
  font-weight: bold;
}
.jo_detail .useweeee__title {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.jo_detail .useweeee__title::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 50px;
  background-color: #000000;
  margin-right: 15px;
  border-radius: 5px;
}
.jo_detail .useweeee {
  height: 315px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  border-radius: 10px;
}
.jo_detail .saysomething__title {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.jo_detail .saysomething__title::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 50px;
  background-color: #000000;
  margin-right: 15px;
  border-radius: 5px;
}
.jo_detail .saysomething__content {
  width: 100%;
  resize: none;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px;
  box-sizing: border-box;
  border: none;
  outline: 1px solid #747774;
  margin-bottom: 70px;
}
.jo_detail .saysomething__send {
  display: block;
  margin: 0 auto 100px;
}
.jo_detail .jo__comment__list {
  margin-bottom: 110px;
}
.jo_detail .jo__comment__list .jo__comment {
  height: 170px;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 50px;
  border-radius: 10px;
}
.jo_detail .jo__comment__list .jo__comment .jo__comment__left {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.jo_detail .jo__comment__list .jo__comment .jo__comment__right {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 120px;
  font-size: 25px;
  align-items: center;
}
.jo_detail .jo__comment__list .jo__comment .jo__comment__right .mamber-img {
  width: 30px;
  height: 30px;
  background-image: url("../img/jo/jo_member4.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  margin-right: 15px;
}
.jo_detail .jo__comment__list .jo__comment .jo__comment__right .member-name {
  margin-right: 35px;
}
.jo_detail .footer {
  background-color: #747774;
  color: #ffffff;
  height: 310px;
  text-align: center;
}
.jo_detail .footer .footcontent {
  padding-top: 150px;
}

.jo_index header {
  height: 165px;
  width: 1280px;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
}
.jo_index .topbanner {
  background-image: url("../img/jo/jo_index-topbanner1.jpg");
  height: 500px;
  background-size: cover;
  background-position: center center;
}
.jo_index .topbanner .topbanner__text {
  color: #000000;
  text-align: left;
  padding-top: 130px;
  margin-bottom: 20px;
  padding-left: 30px;
}
.jo_index .topbanner .topbanner__text h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.jo_index .topbanner .topbanner__text p {
  margin-bottom: 20px;
  padding-left: 10px;
  font-weight: bold;
}
.jo_index .topbanner .topbanner__text .search_location {
  background-color: #f9cf00;
  display: inline;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 15px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
}
.jo_index .topbanner .topbanner__text .searchbox {
  margin-top: 25px;
  width: 700px;
  position: relative;
}
.jo_index .topbanner .topbanner__text .searchbox input {
  height: 55px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
}
.jo_index .topbanner .topbanner__text .searchbox button {
  position: absolute;
  height: 45px;
  right: -10px;
  top: 5px;
  bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f9cf00;
  font-weight: bold;
}
.jo_index .midbanner {
  margin-top: 30px;
  margin-bottom: 20px;
}
.jo_index .midbanner .icon_map {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.jo_index .midbanner .icon_map i {
  font-size: 50px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.jo_index .midbanner .icon_map div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jo_index .midbanner .icon_map div i {
  margin-bottom: 30px;
}

.jo_new {
  background-color: #f4f4f4;
}
.jo_new header {
  height: 165px;
  width: 1280px;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
}
.jo_new .jo_new__title {
  margin-bottom: 30px;
}
.jo_new .jo_new__addimg {
  width: 100%;
  height: 330px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jo_new .jo_new__addimg .box {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jo_new .jo_new__addimg .box .fa-file-image {
  z-index: 30;
  color: #747774;
  font-size: 50px;
}
.productdetail__container {
  width: 800px;
}

.breadcrumb {
  display: flex;
}
.breadcrumb .breadcrumb__item:after {
  content: ">";
}
.breadcrumb .breadcrumb__item {
  color: #4484ce;
}
.breadcrumb .breadcrumb__item--current {
  color: #fe9f4d;
}

.carousel {
  background-color: #747774;
  height: 382px;
}

.productdetail__title {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productdetail__title h1 {
  font-size: 40px;
  font-weight: bold;
  display: inline;
}
.productdetail__title i {
  color: #fe9f4d;
  font-size: 40px;
}

header {
  height: 165px;
  background-color: #747774;
  top: 0;
  position: sticky;
  z-index: 2;
}

.productdetail__content i {
  font-size: 20px;
}
.productdetail__content h5 {
  color: #4484ce;
  display: inline;
  font-size: 20px;
}
.productdetail__content span {
  font-size: 20px;
  font-weight: bold;
}
.productdetail__content div p {
  display: inline;
  color: #f9cf00;
  font-size: 20px;
}
.productdetail__content div h5 {
  font-weight: bold;
}

.productdetail__time {
  margin-top: 70px;
  margin-bottom: 35px;
  padding: 30px 0 30px 0;
  border-top: 1px solid #747774;
  border-bottom: 1px solid #747774;
}
.productdetail__time i,
.productdetail__time span {
  font-size: 20px;
}

.productdetail__list ul {
  margin-left: 20px;
}
.productdetail__list ul li {
  list-style: disc;
}

.productdetail__operate {
  border-bottom: 1px solid #747774;
  margin-top: 70px;
  margin-bottom: 35px;
  font-weight: bold;
}
.productdetail__operate span {
  font-size: 32px;
}
.productdetail__operate i {
  padding-bottom: 45px;
}

.productdetail__directions {
  margin-bottom: 100px;
}
.productdetail__directions h3 {
  font-weight: bold;
  margin-bottom: 45px;
}

.productdetail__img p {
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 40px 0;
}
.productdetail__img img {
  width: 800px;
  height: 487px;
  border-radius: 10px;
}

.productdetail__notice h3 {
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 30px;
}

.notice__list {
  width: 800px;
  height: 500px;
  background-color: #f4f4f4;
  padding: 20px;
}
.notice__list li {
  margin-bottom: 15px;
  list-style: disc;
}

.productdetail__address h3 {
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 50px;
}
.productdetail__address img {
  width: 800px;
  height: 487px;
}
.productdetail__address div {
  border-top: 1px solid #747774;
  border-bottom: 1px solid #747774;
  margin: 30px 0 30px 0;
  padding: 10px 0 10px 0;
}
.productdetail__address h5 {
  font-weight: bold;
}

.productreview {
  border-top: 1px solid #747774;
  border-bottom: 1px solid #747774;
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
}
.productreview h2 {
  font-weight: bold;
}
.productreview .productreview__group {
  display: flex;
  align-items: flex-end;
}
.productreview .productreview__group .productreview__score {
  background-color: #4484ce;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 30px;
}
.productreview .productreview__group .productreview__score p {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  line-height: 65px;
}
.productreview .productreview__group .productreview__star {
  display: flex;
  flex-direction: column;
}
.productreview .productreview__group .productreview__star .star__color {
  color: #f9cf00;
  font-size: 30px;
}

.ping-big {
  border-top: 1px solid #747774;
  border-bottom: 1px solid #747774;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 0 30px 0;
}

.message {
  margin: 30px 0 50px 0;
}
.message span {
  font-size: 30px;
}
.message h5 {
  background-color: #f4f4f4;
}
.message .message_text {
  margin-left: 40px;
}
.message .message_text p {
  font-size: 30px;
  color: #f9cf00;
}
.message .message_text h5 {
  padding: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
}
.pagination li {
  background-color: #ffffff;
  width: 45px;
  height: 50px;
}
.pagination .page__link--current {
  background-color: #4484ce;
  display: block;
}
.pagination .page-item {
  border: 1px solid #747774;
  text-align: center;
  line-height: 50px;
  display: block;
}
.pagination .page-item a {
  font-weight: bold;
  font-size: 20px;
  display: block;
}
.pagination .page-link {
  font-size: 20px;
  text-decoration: none;
}
.pagination .page-link:visited, .pagination .page-link:active, .pagination .page-link:link, .pagination .page-linkhover {
  color: #000000;
}

.productdetail__fixedfield {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  position: sticky;
  top: 200px;
  right: 0px;
  padding: 20px;
  float: right;
  color: #747774;
}
.productdetail__fixedfield a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000000;
}

.productdetail__bot {
  background-color: #f4f4f4;
  height: 437px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.productdetail__bot img {
  height: 187px;
  width: 302px;
  border-radius: 10px;
}
.productdetail__bot .card-body h5 {
  font-weight: bold;
}
.productdetail__bot .card-body div {
  display: flex;
}
.productdetail__bot .card-body div p {
  color: #f9cf00;
  font-size: 20px;
}
.productdetail__bot .card-body div h5 {
  font-size: 20px;
  color: #747774;
  font-weight: normal;
}
.productdetail__bot .card-body div span {
  font-size: 20px;
  color: #747774;
}

footer {
  height: 309px;
  background-color: #747774;
}

.qa header {
  height: 165px;
  width: 1200px;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 100;
}
.qa .topbanner {
  background-image: url("../img/otherpage/qa-banner.jpg");
  height: 305px;
  background-size: cover;
  background-position: center center;
}
.qa .topbanner .topbanner__text {
  color: #747774;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}
.qa .topbanner .top-btn {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.qa .topbanner .top-btn .btn {
  background-color: #ffffff;
  color: #747774;
  width: 200px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}
.qa .topbanner .top-btn .btn :hover {
  background-color: #4484ce;
  color: #ffffff;
  border-radius: 25px;
  opacity: 0.9;
}
.qa .topbanner .top-btn .btn h4 {
  line-height: 100px;
  text-align: center;
  font-weight: bold;
}
.qa .topbanner .top-btn .btn.on_watch {
  background-color: #4484ce;
  color: #ffffff;
}
.qa .mid {
  display: flex;
}
.qa .mid .leftnav {
  width: 300px;
  position: sticky;
  top: 165px;
  height: 500px;
}
.qa .mid .leftnav ul li {
  padding: 16px;
}
.qa .mid .question .question_type {
  margin-bottom: 30px;
}
.qa .mid .question .question_type h3 {
  margin-bottom: 30px;
}
.qa .mid .question .question_type .question_content {
  box-shadow: 0 0 7px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 600px;
}
.qa .mid .question .question_type .question_content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.qa .mid .question .question_type .question_content h5 button {
  position: absolute;
  right: 0;
  border: none;
  background-color: #fff;
  height: 100%;
}
.qa .mid .question .question_type .question_content h5 button :hover {
  transform: scale(1.1);
}
.qa .mid .question .question_type .question_content h5 button i {
  font-size: 20px;
}
.qa .mid .question .question_type .question_content .question_a p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.qa .-close {
  display: none;
}

.terms .use {
  color: #ffffff;
  position: relative;
}
.terms .use::before {
  display: block;
  content: "|";
  color: blue;
  font-size: 16px;
  position: absolute;
  margin-left: 36px;
  margin-top: 101px;
}
.terms .user {
  color: #4484ce;
  margin-top: 101px;
}
.terms .topbanner {
  background-color: #4484ce;
}
.terms .user1 {
  width: 80px;
  margin-top: 40px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.terms header {
  height: 165px;
  width: 1280px;
  background-color: #747774;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
}
.terms .topbanner {
  height: 130px;
}
.terms .topbanner .topbanner__text {
  text-align: center;
  padding-top: 40px;
}

.product-list {
  display: flex;
  position: relative;
}
.product-list .slider-right {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: #4484ce;
  top: 56px;
  right: -30px;
  z-index: 20;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
.product-list .product-card {
  width: 390px;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.product-list .product-card:hover .product-card__top__pic img {
  transform: scale(1.2);
}
.product-list .product-card .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 15;
}
.product-list .product-card .product-card__location {
  color: white;
}
.product-list .product-card .product-card__location .fa-location-dot {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}
.product-list .product-card .product-card__location .p__location {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 15;
}
.product-list .product-card .product-card__top {
  color: #ffffff;
  width: 390px;
  height: 155px;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.product-list .product-card .product-card__top .product-card__top__pic img {
  width: 390px;
  transition: all 0.3s;
}
.product-list .product-card .product-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 5px;
}
.product-list .product-card .product-card__bottom .product-name {
  margin-bottom: 5px;
  font-size: 20px;
}
.product-list .product-card .product-card__bottom h6 {
  margin-top: 20px;
}
.product-list .product-card .product-card__bottom .fa-star {
  margin-right: 5px;
  color: #f9cf00;
}

.jo-list {
  display: flex;
}
.jo-list .jo-card {
  width: 390px;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.jo-list .jo-card:hover .jo-card__top img {
  transform: scale(1.2);
}
.jo-list .jo-card .jo-card__top__location {
  color: #ffffff;
}
.jo-list .jo-card .jo-card__top__location .fa-location-dot {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}
.jo-list .jo-card .jo-card__top__location .jo__location {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 15;
}
.jo-list .jo-card .jo-card__top {
  color: #ffffff;
  width: 390px;
  height: 155px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.jo-list .jo-card .jo-card__top img {
  width: 390px;
  border-radius: 10px;
  transition: all 0.3s;
}
.jo-list .jo-card .jo-card__bottom {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px;
}
.jo-list .jo-card .jo-card__bottom .jo-name {
  margin-bottom: 5px;
  font-size: 20px;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message {
  display: flex;
  align-items: center;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message .member-pic {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  margin-right: 10px;
}
.jo-list .jo-card .jo-card__bottom .jo-card__bottom__message .left-time {
  margin-left: auto;
}

.product-card-row-list {
  display: flex;
  flex-direction: column;
}

.product-card-row {
  width: 810px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  outline: 1px solid #747774;
}
.product-card-row .product-card-row__left {
  width: 270px;
  height: 250px;
  background-image: url("../img/jo/jo_aquarium.jpg");
  background-size: cover;
}
.product-card-row .product-card-row__right {
  width: 540px;
  height: 250px;
  padding: 30px 25px 0px;
  box-sizing: border-box;
}
.product-card-row .product-card-row__right .price {
  float: right;
}
.product-card-row .product-card-row__right .product-name {
  margin-bottom: 20px;
}
.product-card-row .product-card-row__right .product__text {
  margin-bottom: 15px;
}
.product-card-row .fa-star {
  color: #f9cf00;
  margin-right: 5px;
}
.product-card-row .product-tag {
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.htob {
  margin-top: 165px;
}

.nb {
  padding-top: 215px;
}

.hb {
  margin-top: 30px;
  margin-bottom: 20px;
}

.ftoc {
  margin-top: 80px;
}

.ttoc {
  margin-top: 70px;
  margin-bottom: 35px;
}

.ctoc {
  margin-bottom: 100px;
}

.wrapper {
  line-height: 1.6;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.price {
  font-size: 16px;
  font-weight: bold;
}

.gray {
  font-size: 14px;
  color: #747774;
}

.product-tag {
  padding: 2.5px 4px;
  font-size: 16px;
  color: #ffffff;
  background-color: #fe9f4d;
  text-align: center;
}

.blueBtn {
  background-color: #4484ce;
  text-align: center;
  padding: 10px 30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
  border: none;
}

.yellowBtn {
  background-color: #f9cf00;
  text-align: center;
  padding: 10px 30px;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
  border: none;
}

.orangeBtn {
  background-color: #fe9f4d;
  text-align: center;
  padding: 10px 30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  box-sizing: border-box;
  border: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .price {
    font-size: 16px;
    font-weight: bold;
  }
  .gray {
    font-size: 14px;
    color: #747774;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
