.date{
    position: absolute;
width: 195px;
height: 19px;
left: 1060px;
top: 337px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

}
.use1{
    color:white;
    position: relative;
    
}
.use1::before{
    display: block;
    content: "|";
    color: blue;
   
    font-size: 16px;
    position:absolute;
   margin-left: 40px;
   margin-top:185px;
}
.p1{
    position: absolute;
width: 874px;
height: 22px;
margin-left: 1px;
top:433px;

font-family: 'Inter';
font-style: normal;
font-weight:bold;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #000000;

}
h5{
    position: absolute;
    width: 189px;
    height: 24px;
    left: 178px;
    top: 490px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
   
    line-height: 15px;
    
    color: #000000;
} 
 .p2 {position: absolute;
width: 874px;
height: 52px;
left: 178px;
top: 538px;
line-height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;

/* or 26px */


color: #000000;
}
.p3{
    position: absolute;
width: 877px;
height: 130px;
left:178px;
top:592px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;

}
.p4{
    position: absolute;
    width: 873px;
    height: 78px;
    left: 178px;
    margin-top: 255px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 26px */
    
    
    color: #000000;
}
.p5{position: absolute;
width: 881px;
height: 104px;
left:178px;
margin-top: 317px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 26px */


color: #000000;
}
.h51{
    position: absolute;
width: 153px;
height: 24px;
left: 178px;
margin-top: 398px;

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.p2-1{
    position: absolute;
width: 897px;
height: 78px;
left: 178px;
margin-top: 440px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;

}
.p2-2{position: absolute;
width: 880px;
height: 52px;
left: 178px;
margin-top:523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 26px */


color: #000000;
}
.p2-3{
    position: absolute;
width: 881px;
height: 78px;
left: 178px;
margin-top: 579px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;
}
.h5-3{
    position: absolute;
width: 99px;
height: 24px;
left:178px;
margin-top: 668px;

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.p3-1{
    position: absolute;
width: 905px;
height: 78px;
left: 178px;
margin-top: 688px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;
}
.p3-2{
    position: absolute;
    width: 905px;
    height: 78px;
    left: 178px;
    margin-top: 757px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height:25px;
    /* or 26px */
    
    
    color: #000000; 
}
.p3-3{
    position: absolute;
    width: 905px;
    height: 78px;
    left: 178px;
    margin-top: 920px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    
    
    color: #000000;
}
.h5py{
    position: absolute;
width: 874px;
height: 22px;
left:178px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 15px;
/* or 22px */


color: #000000;

}
.py1{
    position: absolute;
width: 874px;
height: 52px;
left:178px;
margin-top: 130px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 26px */


color: #000000;

}
.py2{
    position: absolute;
width: 874px;
height: 52px;
left: 178px;
margin-top: 198px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 26px */


color: #000000;
}
.py3{
    position: absolute;
width: 359px;
height: 24px;
left: 178px;
margin-top: 197px;

font-family: 'Inter';

font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.py{
    position: absolute;
width: 874px;
height: 22px;
left: 178px;
top:450px;

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #000000;


}
.py4{
    position: absolute;
width: 505px;
height: 26px;
left: 178px;
margin-top: 280px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 26px */


color: #000000;

}
.py5{
    position: absolute;
width: 453px;
height: 26px;
left: 178px;
margin-top: 297px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 26px */


color: #000000;

}
.py6{
    position: absolute;
    width: 453px;
    height: 26px;
    left: 178px;
    margin-top: 330px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 26px */
    
    
    color: #000000; 
}
.py7{
    position: absolute;
    width: 453px;
    height: 26px;
    left: 178px;
    margin-top: 360px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 26px */
    
    
    color: #000000;   
}
.py8{
    position: absolute;
    width: 453px;
    height: 26px;
    left: 178px;
    margin-top: 390px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 26px */
    
    
    color: #000000; 
}
.py9{
    position: absolute;
    width: 453px;
    height: 26px;
    left: 178px;
    margin-top: 420px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 26px */
    
    
    color: #000000; 
}
.pyh5{
    position: absolute;
width: 399px;
height: 24px;
left: 178px;
margin-top: 430px;

font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.py3-11{
    position: absolute;
width: 761px;
height: 52px;
left: 178px;
margin-top: 503px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;
}
.py3-2{
    position: absolute;
    width: 453px;
    height: 26px;
    left: 178px;
    margin-top: 560px;
    
    font-family: 'Inter';
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 26px */
    
    
    color: #000000; 
}

.py3-3{
    position: absolute;
width: 832px;
height: 208px;
left:178px;
margin-top: 712px;

font-family: 'Inter';

font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #000000;
}
.user-p{
    color: #4484CE;
}