<a
  class="product-card-row"
  v-for="product in computedList"
  :key="index"
  :href="'./productdetail.html?id=' + product.ProductID"
  v-if="dataget"
>
  <div class="product-card-row__left">
    <div class="product-card-row__location">
      <i class="fa-solid fa-location-dot"></i>
      <p class="p__location">{{product.Location}}</p>
    </div>
    <div class="product-card-row__left__pic">
      <div
        class="product-card-row__picsrc"
        v-bind:style="{ backgroundImage: 'url(' + product.ProductImgPath1 + ')' }"
      ></div>
    </div>
  </div>
  <div class="product-card-row__right">
    <div class="change-heart" ref="changeHeart" @click="changeHeart">
      <i class="fa-regular fa-heart" ref="hollow"></i>
      <i class="fa-solid fa-heart orange hidden" ref="solid"></i>
    </div>
    <div class="product-name">{{product.Location}}{{product.ProductName}}</div>
    <div class="product-tag">{{product.ProductSecondType}}</div>
    <div class="product__text">{{product.ProductText}}</div>

    <span class="gray"
      ><i class="fa-solid fa-star"></i
      >{{product.score}}({{product.ProductScoredPeople}}) |
      <span class="product-bought">{{product.ProductPurchased}}+</span>個已訂購
    </span>
    <span class="price"
      >TWD <span class="product-price"> {{product.ProductPrice}}</span>元</span
    >
  </div>
</a>
