<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weeee!</title>
    <script
      src="https://kit.fontawesome.com/85f014293c.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    @@include('layout/header.html')
    <div class="wrapper jo_index app1">
      <div v-cloak>
        <div
          class="black_bg"
          @click="closeSelectbar"
          v-if="show_lightbox"
        ></div>
        <div class="select_loc_box" v-if="show_lightbox">
          <h1>
            選擇地點
            <i class="fa-solid fa-xmark" @click="closeSelectbar"></i>
          </h1>
          <ul>
            <li
              v-for="(item, index) in AllCitys"
              @click="changeSelectbar(item)"
            >
              {{item}}
            </li>
          </ul>
        </div>
        <div class="topbanner">
          <div class="container topbanner__text">
            <h1>揪遊趣!</h1>
            <p>探索揪團旅程</p>
            <div class="search_location" @click="openSelectbar">
              <i class="fa-solid fa-location-dot"></i>
              {{location_selected}}
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="searchbox">
              <input
                type="text"
                placeholder="想做什麼？"
                @keyup.enter="jump_jo_searched"
                v-model="keyword"
              />
              <button @click="jump_jo_searched"><h5>搜尋</h5></button>
            </div>
          </div>
        </div>
        <div class="midbanner container">
          <div class="icon_map">
            <div>
              <i class="fa-solid fa-magnifying-glass"></i>
              <h5>尋找喜愛的旅程</h5>
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div>
              <i class="fa-solid fa-comment-dots"></i>
              <h5>提交申請給團主</h5>
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div>
              <i class="fa-solid fa-circle-check"></i>
              <h5>團主審核通過</h5>
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div>
              <i class="fa-solid fa-child-reaching"></i>
              <h5>出團遊玩</h5>
            </div>
          </div>
        </div>
        <div class="container content" v-if="show_jo">
          <h2 class="ttoc">熱門開團</h2>

          <div class="jo-list">
            <a class="jo-card" 
            
            @click="jump_jo_detail"
            v-for="jo in jo_list_hot" 
            :key="index"
            
            >
              <div class="jo-card__top__location">
                <i class="fa-solid fa-location-dot"></i>
                <p class="jo__location">{{jo.Location}}</p>
              </div>
              <div class="jo-card__top">
                <div class="jo-card__top__pic">
                  <div
                    class="jo-card__top__pic__src j1"
                    v-bind:style="{ backgroundImage: 'url(' + jo.JoImg + ')' }"
                  ></div>
                </div>
              </div>
              <div class="jo-card__bottom">
                <h6 class="jo-name">{{jo.JoTitle}}</h6>
                <span class="gray jo__detailaddress"
                  >{{jo.JoDetailedAddressed}}</span
                >
                <span class="gray jo-time">{{jo.week}},{{jo.JoStartDate}}</span>
                <span class="jo-card__bottom__message"
                  ><span class="member-pic m1"></span
                  ><span class="member-name">{{jo.FullName}}</span>
                  <span class="left-time">剩餘{{jo.left_days}}天</span></span
                >
              </div>
            </a>
          </div>
          <h2 class="ttoc">即將結團</h2>
          <div class="jo-list">
            <a class="jo-card" 
            
            v-for="jo in jo_list_end" 
            :key="index">
              <div class="jo-card__top__location">
                <i class="fa-solid fa-location-dot"></i>
                <p class="jo__location">{{jo.Location}}</p>
              </div>
              <div class="jo-card__top">
                <div class="jo-card__top__pic">
                  <div
                    class="jo-card__top__pic__src j1"
                    v-bind:style="{ backgroundImage: 'url(' + jo.JoImg + ')' }"
                  ></div>
                </div>
              </div>
              <div class="jo-card__bottom">
                <h6 class="jo-name">{{jo.JoTitle}}</h6>
                <span class="gray jo__detailaddress"
                  >{{jo.JoDetailedAddressed}}</span
                >
                <span class="gray jo-time">{{jo.week}},{{jo.JoStartDate}}</span>
                <span class="jo-card__bottom__message"
                  ><span class="member-pic m1"></span
                  ><span class="member-name">{{jo.FullName}}</span>
                  <span class="left-time">剩餘{{jo.left_days}}天</span></span
                >
              </div>
            </a>
          </div>
          <h2 class="ttoc">新團推廣</h2>
          <div class="jo-list">
            <a class="jo-card" 
            
            v-for="jo in jo_list_new" 
            :key="index">
              <div class="jo-card__top__location">
                <i class="fa-solid fa-location-dot"></i>
                <p class="jo__location">{{jo.Location}}</p>
              </div>
              <div class="jo-card__top">
                <div class="jo-card__top__pic">
                  <div
                    class="jo-card__top__pic__src j1"
                    v-bind:style="{ backgroundImage: 'url(' + jo.JoImg + ')' }"
                  ></div>
                </div>
              </div>
              <div class="jo-card__bottom">
                <h6 class="jo-name">{{jo.JoTitle}}</h6>
                <span class="gray jo__detailaddress"
                  >{{jo.JoDetailedAddressed}}</span
                >
                <span class="gray jo-time">{{jo.week}},{{jo.JoStartDate}}</span>
                <span class="jo-card__bottom__message"
                  ><span class="member-pic m1"></span
                  ><span class="member-name">{{jo.FullName}}</span>
                  <span class="left-time">剩餘{{jo.left_days}}天</span></span
                >
              </div>
            </a>
          </div>
          <a id="jo_button" href="./jo_new.html">
            <img src="./img/jo/jo_create.gif" alt="" />
            <h5>發起揪團</h5>
          </a>
        </div>

        @@include('layout/footer.html')
      </div>
    </div>
    <script src="./vue/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script>
      let app1 = Vue.createApp({
        data() {
          return {
            show_lightbox: false,
            show_select_bar: false,
            keyword : "",
            jo_list_hot: [],
            jo_list_end: [],
            jo_list_new: [],
            show_jo: true,
            slick_start: false,
            AllCitys: [
              "全部地區",
              "基隆",
              "台北",
              "新北",
              "桃園",
              "新竹",
              "苗栗",
              "台中",
              "彰化",
              "南投",
              "雲林",
              "嘉義",
              "台南",
              "高雄",
              "屏東",
              "台東",
              "花蓮",
              "其他",
            ],
            location_selected: "全部地區",

          };
        },
        created() {
          window.addEventListener("scroll", this.btn_show);
          // this.change_location_selected();
          // this.show__function();
          this.getdata_jo_list_hot();
        },
        methods: {
          jump_jo_detail(e){
           console.log(e);
            
          },
          getdata_jo_list_hot() {
            this.jo_list_hot = [];
            let _this = this;
            $.ajax({
              method: "POST",
              url: "./php/jo_index.php",
              data: {
                type: "hot",
              },
              dataType: "json",
              success: function (response) {
                response.forEach((element) => {
                  _this.jo_list_hot.push(element);
                });
                _this.$nextTick(function () {
                  _this.getdata_jo_list_new();
                });
              },
              error: function (exception) {
                alert("數據載入失敗: " + exception.status);
              },
            });
          },
          getdata_jo_list_new() {
            this.jo_list_new = [];
            let _this = this;
            $.ajax({
              method: "POST",
              url: "./php/jo_index.php",
              data: {
                type: "new",
              },
              dataType: "json",
              success: function (response) {
                response.forEach((element) => {
                  _this.jo_list_new.push(element);
                });
                _this.$nextTick(function () {
                  _this.getdata_jo_list_end();
                });
              },
              error: function (exception) {
                alert("數據載入失敗: " + exception.status);
              },
            });
          },
          getdata_jo_list_end() {
            this.jo_list_end = [];
            let _this = this;
            $.ajax({
              method: "POST",
              url: "./php/jo_index.php",
              data: {
                type: "end",
              },
              dataType: "json",
              success: function (response) {
                response.forEach((element) => {
                  _this.jo_list_end.push(element);
                });
                _this.$nextTick(function () {
                  _this.jo_list_slick();
                });
              },
              error: function (exception) {
                alert("數據載入失敗: " + exception.status);
              },
            });
          },
          // show__function() {
          //   this.getdata_jo_list_hot();
          //   this.getdata_jo_list_new();
          //   this.getdata_jo_list_end();
          // },
          btn_show() {
            let btn = $("#jo_button");
            if (screen.width <= 768) {
              if (window.scrollY > 0 && window.scrollY <= 850) {
                btn.addClass("show");
              } else if (window.scrollY <= 0) {
                btn.removeClass("show");
              } else if (window.scrollY >= 850) {
                btn.removeClass("show");
              }
            } else {
              if (window.scrollY > 300) {
                btn.addClass("show");
              } else {
                btn.removeClass("show");
              }
            }
          },
          jo_list_slick() {
            console.log( $(".jo-list"));
            $(".jo-list").slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,

              responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 1.5,
                    slidesToScroll: 1,
                    infinite: true,
                  },
                },
              ],
            });
          },
          jump_jo_searched() {
            let searchedbox = document.querySelector(".searchbox");
            searchedbox_value = searchedbox.querySelector("input").value;
            console.log(searchedbox_value);
            if (searchedbox_value.length > 0 || this.location_selected != "全部地區") {
              
              let loc = this.location_selected;
              let key = this.keyword;
              if(loc == "全部地區"){
              loc = "%";
              let url = "jo_searched.html" + "?loc=" + loc + "&key="+ key;
              window.location.assign(url);
              }else{
              let url = "jo_searched.html" + "?loc=" + loc + "&key="+ key;
              window.location.assign(url);}
              
            }
          },
          scrollToTop() {
            window.scrollTo({
              top: 0,
              left: 0,
              behavior: "smooth",
            });
          },
          openSelectbar() {
            this.scrollToTop();
            this.show_lightbox = true;
            this.show_select_bar = true;
            let body = document.querySelector("body");
            body.classList.add("stop_scroll");
          },
          closeSelectbar() {
            this.show_lightbox = false;
            this.show_select_bar = false;
            let body = document.querySelector("body");
            body.classList.remove("stop_scroll");
          },
          changeSelectbar(item) {
            console.log(item);
            this.show_lightbox = false;
            this.show_select_bar = false;
            let body = document.querySelector("body");
            this.location_selected = item;
            body.classList.remove("stop_scroll");
          },
        },
        mounted() {
          // setTimeout(this.jo_list_slick(),3000)
        },
        updated() {},
      });
      app1.mount(".app1");
    </script>
  </body>
</html>
