<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weeee!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"> 
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    @@include('layout/header.html')
    <div class="wrapper" id="app">
        <nav class="container breadcrumb-group">
            <ol class="hb breadcrumb">
                <li class="breadcrumb__item"><a href="">&nbsp首頁&nbsp</a></li>
                <li class="breadcrumb__item"><a href="">&nbsp{{ProductDetail.type}}&nbsp</a></li>
                <li class="breadcrumb__item--current"><a href="">&nbsp{{ProductDetail.city}}｜{{ProductDetail.name}}</a>
                </li>
            </ol>
        </nav>
        <div class="container">
            <div class="productdetail__slideshow">
                <a href="#" v-for="carousel in carousels">
                    <div class="mySlidesFlex">
                        <img :src="carousel.src" alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="productdetail__fixedfield--container">
                <div class="productdetail__fixedfield--group">
                    <div class="productdetail__fixedfield1">
                        <h2>TWD {{ProductDetail.price}}</h2>
                        <i class="fa-regular fa-heart"></i>
                        <button @click="pd_check" class="field1_btn1">
                            <i class="fa-solid fa-bolt"></i>
                            <span>立即確認</span>
                        </button>
                        <button @click="pd_check" class="field1_btn2">
                            <i class="fa-solid fa-bolt"></i>
                            <span>加入購物車</span>
                        </button>
                        <button @click="cle_check" class="field1_btn3">
                            <i class="fa-solid fa-bolt"></i>
                            <span>立即訂購</span>
                        </button>
                    </div>
                    <div class="productdetail__fixedfield2">
                        <a v-for="fieldData in fieldDatas" :id="fieldData.fieldID"
                            @click=fieldClick(fieldData.fieldID)>{{fieldData.title}}</a>
                    </div>
                    <div class="productdetail__scrollToTop">
                        <i class="fa-solid fa-angle-up" @click="scrollToTop"></i>
                    </div>
                </div>
                <div class="productdetail__container">
                    <div class="productdetail__title">
                        <h1>{{ProductDetail.city}}｜{{ProductDetail.name}}</h1>
                        <i class="fa-regular fa-heart" @click="heartclick"></i>
                    </div>

                    <div class="productdetail__content">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>{{ProductDetail.city}}</span>
                        <div>
                            <h5>4.5</h5>
                            <p>★★★★</p><span>(2300)｜已售出7K+</span>
                        </div>
                    </div>
                    <div class="productdetail__time">
                        <div>
                            <i class="fa-solid fa-clock"></i>
                            <span>行程時間{{ProductDetail.time}}小時</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-table"></i>
                            <span>使用效期依主辦單位提供為主 </span>
                        </div>
                    </div>
                    <div class="productdetail__list">
                        <ul>
                            <li>
                                跟著Weeee！出遊，兔年開春不用愁!!
                            </li>
                            <li>
                                優惠行程不等人，看中就別猶豫 手刀報名好運來，喜迎好運順整年!!
                            </li>
                            <li>
                                手刀報名好運來，喜迎好運順整年!!
                            </li>
                            <li>
                                體驗泰國按摩產業 17 年豐富經驗的專業團隊技術
                            </li>
                            <li>
                                在您購買之後，本票券享有長達180天的有效期。讓您彈性選擇期間內任何日期來使用。
                            </li>
                        </ul>
                    </div>
                    <div class="productdetail__operate">
                        <span @click="open">{{operate}}</span>
                        <i class="fa-solid fa-angle-up"></i>
                    </div>
                    <div class="productdetail__directions--group productdetail__open">
                        <div class="productdetail__directions">
                            <h3 class="pd_h3">商品說明</h3>
                            <p>
                                {{ProductDetail.Text}}
                            </p>
                        </div>
                        <div v-for="Img in Imgs" class="productdetail__img">
                            <p>{{Img.Content}}
                            </p>
                            <img :src=Img.src alt="">
                        </div>
                    </div>
                    <div class="productdetail__notice">
                        <h3 class="pn_h3">購買須知</h3>
                        <ul class="notice__list">
                            <li v-for="noticeList in noticeLists">
                                {{noticeList}}
                            </li>
                        </ul>
                    </div>
                    <div class="productdetail__address">
                        <h3 class="pa_h3">體驗地點</h3>
                        <h5>地址 👇</h5>
                        <div class=" productdetail__addressdetail">
                            <h5>地點名稱 : {{ProductDetail.shortname}}</h5>
                            <h5>地址 : {{ProductDetail.address}}</h5>
                        </div>
                        <iframe :src=googleMap.src :width=googleMap.width :height=googleMap.height style="border:0;"
                            :allowfullscreen=googleMap.allowfullscreen :loading=googleMap.loading
                            :referrerpolicy=googleMap.referrerpolicy></iframe>
                    </div>
                    <div class="productreview">
                        <h3 class="pv_h3">旅客評價</h3>
                        <div class="productreview__group">
                            <div class="productreview__score">
                                <p>4.6</p>
                            </div>
                            <div class="productreview__star">
                                <span class="star__color">{{ProductDetail.stars}}</span>
                                <span>{{ProductDetail.comments}}則旅客評價</span>
                            </div>
                        </div>
                    </div>
                    <div class="message" v-for="message in messages">
                        <span>{{message.pic}}</span>
                        <span>{{message.name}}</span>
                        <div class="message_text">
                            <p>{{message.star}}</p>
                            <h5>
                                {{message.comment}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container productdetail__bot">
            <div class="product-list">
                <a class="product-card" v-for="card in cards">
                    <i class="fa-regular fa-heart"></i>
                    <div class="product-card__location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p class="p__location">新北</p>
                    </div>
                    <div class="product-card__top">
                        <div class="product-card__top__pic">
                            <img :src="card.src" alt="" />
                        </div>
                    </div>
                    <div class="product-card__bottom">
                        <span class="product-tag">{{card.label}}</span>
                        <h6 class="product-name">{{card.title}}</h6>
                        <span class="gray"><i class="fa-solid fa-star"></i>{{card.score}} ({{card.scoreNum}}) |
                            <span class="product-bought">{{card.order}}</span>個已訂購
                        </span>
                        <span class="price">TWD <span class="product-price">{{card.price}}</span>元</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- </div> -->
    </div>
    @@include('layout/footer.html')
    <script src="/vue/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/productdetail.js"></script>
</body>

</html>