<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weeee!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
  <link rel="stylesheet" href="./vender/datetimepicker/jquery.datetimepicker.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/style.css" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  @@include('layout/header.html')
  <div class="wrapper" id="app">
    <div v-cloak>
      <!-- <input id="datetimepicker" type="text"> -->
      <!---------------bs-modal--------------->
      <div class="modal fade" id="peopleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        @click="field1_showbtn">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="productdetail-modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  請選擇使用日期
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  @click="field1_showbtn"></button>
              </div>
            </div>
            <div class="modal-body productdetail-modal-group">
              <div class="productdetail-modal-top">
                <input id="datetimepicker" type="text" />
              </div>
              <div class="productdetail-modal-mid">
                <p>人數</p>
                <p>TWD {{modalTotal}}/每人</p>
                <div>
                  <i class="fa-solid fa-circle-minus" @click="pelple_minus"></i>
                  <p>{{modalPeople}}</p>
                  <i class="fa-solid fa-circle-plus" @click="pelple_plus"></i>
                </div>
              </div>
              <div class="productdetail-modal-bot">
                <div>
                  <p>總金額</p>
                  <p>TWD {{modal_pricetotal}}</p>
                </div>
                <div>
                  <p>Weeee!Points</p>
                  <div class="productdetail-modal-points">
                    <img src="./img/weeeepoints/yellow.svg" alt="" />
                    <p>{{modal_points}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="productdetail-modal-footer">
                <button type="button" class="productdetail-modal-secondary">
                  加入購物車
                </button>
                <button type="button" class="productdetail-modal-primary" @click="modal_checkout">
                  立即訂購
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---------------麵包屑--------------->
      <div class="breadcrumbList container">
        <ol class="breadcrumb">
          <li><a href="./index.html">首頁</a></li>
          <li><a href="./productlist_travel.html">觀光行程</a></li>
          <li>桃園｜Weeeepark 海洋公園門票</li>
        </ol>
      </div>
      <!---------------輪播--------------->
      <div class="container">
        <div class="productdetail-slideshow">
          <a href="#" v-for="carousel in carousels">
            <div class="mySlidesFlex">
              <img :src="carousel.src" alt="" />
            </div>
          </a>
        </div>
      </div>
      <!---------------右邊固定框--------------->
      <div class="container">
        <div class="productdetail-fixedfield-container">
          <div class="productdetail-fixedfield-group">
            <div class="productdetail-fixedfield1" v-if="field1Show">
              <h2>TWD {{ProductDetail.price}}</h2>
              <i class="fa-heart" :class=`fa-${faHeart}` @click="heart_click"></i>
              <!-- <button class="field1_btn1">
                            <i class="fa-solid fa-bolt"></i>
                            <span>立即確認</span>
                        </button> -->
              <button type="button" class="field1-btn1" data-bs-toggle="modal" data-bs-target="#peopleModal">
                <i class="fa-solid fa-bolt"></i>
                <span>立即確認</span>
              </button>
              <button class="field1-btn2" data-bs-toggle="modal" data-bs-target="#peopleModal">
                <i class="fa-solid fa-bolt"></i>
                <span>加入購物車</span>
              </button>
              <button @click="cle_check" class="field1-btn3" data-bs-toggle="modal" data-bs-target="#peopleModal">
                <i class="fa-solid fa-bolt"></i>
                <span>立即訂購</span>
              </button>
            </div>
            <!---------------固定框四選項--------------->
            <div class="productdetail-fixedfield2">
              <a v-for="fieldData in fieldDatas" :id="fieldData.fieldID"
                @click="field_click(fieldData.fieldID)">{{fieldData.title}}</a>
            </div>
            <!---------------scrollToTop--------------->
            <div class="productdetail-scrollToTop">
              <i class="fa-solid fa-angle-up" @click="scroll_totop"></i>
            </div>
          </div>
          <!-- ---------------商品標題--------------- -->
          <div class="productdetail-container">
            <div class="productdetail-title">
              <h1>{{ProductDetail.city}}｜{{ProductDetail.name}}</h1>
              <!-- <i class="fa-regular fa-heart" @click="heart_click"></i> -->
              <div class="productdetail-small">
                <div class="flex-container">
                  <div class="flex-child">
                    <div id="heart-like"></div>
                    <div id="heart-unlike"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ---------------商品資訊--------------- -->
            <div class="productdetail-content">
              <i class="fa-solid fa-location-dot"></i>
              <span>{{ProductDetail.city}}</span>
              <div>
                <h5>4.5</h5>
                <p>★★★★</p>
                <span>(2300)｜已售出7K+</span>
              </div>
            </div>
            <!-- ---------------行程時間--------------- -->
            <div class="productdetail-time">
              <div>
                <i class="fa-solid fa-clock"></i>
                <span>行程時間{{ProductDetail.time}}小時</span>
              </div>
              <div>
                <i class="fa-solid fa-table"></i>
                <span>使用效期依主辦單位提供為主 </span>
              </div>
            </div>
            <!-- ---------------商品介紹--------------- -->
            <div class="productdetail-list">
              <ul>
                <li>跟著Weeee！出遊，兔年開春不用愁!!</li>
                <li>
                  優惠行程不等人，看中就別猶豫 手刀報名好運來，喜迎好運順整年!!
                </li>
                <li>手刀報名好運來，喜迎好運順整年!!</li>
                <li>體驗泰國按摩產業 17 年豐富經驗的專業團隊技術</li>
                <li>
                  在您購買之後，本票券享有長達180天的有效期。讓您彈性選擇期間內任何日期來使用。
                </li>
              </ul>
            </div>
            <!---------------商品說明--------------->
            <div class="productdetail-operate" v-if="winsizeBoolean" ref="Operate">
              <span @click="open">{{operate}}</span>
              <i class="fa-solid" :class=`fa-angle-${faAngle}`></i>
            </div>
            <div class="productdetail-directions-group" v-bind:class="{'productdetail-none':openCtrlnone}">
              <div class="productdetail-directions">
                <h3 class="pd_h3">商品說明</h3>
                <p>{{ProductDetail.Text}}</p>
              </div>
              <div v-for="Img in Imgs" class="productdetail-img">
                <p>{{Img.Content}}</p>
                <img :src="Img.src" alt="" />
              </div>
            </div>
            <!---------------購買須知--------------->
            <div class="productdetail-notice" ref="Notice">
              <h3 class="pn_h3">購買須知</h3>
              <ul class="productdetail-notice-list">
                <li v-for="noticeList in noticeLists">{{noticeList}}</li>
              </ul>
            </div>
            <!-- ---------------體驗地點--------------- -->
            <div class="productdetail-address" ref="Address">
              <h3 class="pa_h3">體驗地點</h3>
              <h5>地址 👇</h5>
              <div class="productdetail-addressdetail">
                <h5>地點名稱 : {{ProductDetail.shortname}}</h5>
                <h5>地址 : {{ProductDetail.address}}</h5>
              </div>
              <iframe :src="googleMap.src" :width="googleMap.width" :height="googleMap.height" style="border: 0"
                :allowfullscreen="googleMap.allowfullscreen" :loading="googleMap.loading"
                :referrerpolicy="googleMap.referrerpolicy"></iframe>
            </div>
            <!-- ---------------旅客評價--------------- -->
            <div class="product-review" ref="Review">
              <h3>旅客評價</h3>
              <div class="product-review-group">
                <div class="product-review-score">
                  <p>4.6</p>
                </div>
                <div class="productreview-star">
                  <span class="star-color">{{ProductDetail.stars}}</span>
                  <span>{{ProductDetail.comments}}則旅客評價</span>
                </div>
              </div>
            </div>
            <div class="productdetail-message" v-for="message in messages">
              <span>{{message.pic}}</span>
              <span>{{message.name}}</span>
              <div class="productdetail-message-text">
                <p>{{message.star}}</p>
                <h5>{{message.comment}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------下方輪播卡--------------- -->
      <div class="container productdetail-bot">
        <div class="product-list">
          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">桃園</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p1"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">有得逛有得買，就在桃園</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">550</span>元</span>
            </div>
          </a>

          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">新北</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p2"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">新北的山，新北的海，水啦</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">400</span>元</span>
            </div>
          </a>

          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">金門</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p3"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">金門二日遊</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">550</span>元</span>
            </div>
          </a>

          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">桃園</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p1"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">有得逛有得買，就在桃園</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">550</span>元</span>
            </div>
          </a>

          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">新北</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p2"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">新北的山，新北的海，水啦</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">400</span>元</span>
            </div>
          </a>

          <a class="product-card">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">金門</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <div class="product-card__top__picsrc p3"></div>
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">朋友行程</span>
              <h6 class="product-name">金門二日遊</h6>
              <span class="gray"><i class="fa-solid fa-star"></i>4.4(44325) |
                <span class="product-bought">590K+</span>個已訂購
              </span>
              <span class="price">TWD <span class="product-price">550</span>元</span>
            </div>
          </a>
        </div>
        <!-- <div class="product-list">
          <a class="product-card" v-for="card in cards">
            <i class="fa-regular fa-heart"></i>
            <div class="product-card__location">
              <i class="fa-solid fa-location-dot"></i>
              <p class="p__location">新北</p>
            </div>
            <div class="product-card__top">
              <div class="product-card__top__pic">
                <img :src="card.src" alt="" />
              </div>
            </div>
            <div class="product-card__bottom">
              <span class="product-tag">{{card.label}}</span>
              <h6 class="product-name">{{card.title}}</h6>
              <span class="gray"
                ><i class="fa-solid fa-star"></i>{{card.score}}
                ({{card.scoreNum}}) |
                <span class="product-bought">{{card.order}}</span>個已訂購
              </span>
              <span class="price"
                >TWD <span class="product-price">{{card.price}}</span>元</span
              >
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </div>

  @@include('layout/footer.html')
  <script src="./vender/vue/vue.global.prod.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./vender/datetimepicker/jquery.datetimepicker.full.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bodymovin.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/gziped3.js" type="text/javascript"></script>
  <script src="./js/productdetail.js"></script>
</body>

</html>