@import "../../base/base";

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 300;

  .header_wrapper {
    border-bottom: #eee solid 1px;
    background-color: $white;
  }

  .header_top {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;

    .header_top_left {
      display: flex;
      align-items: center;

      img {
        width: 115px;
        margin-right: 20px;
      }

      input {
        height: 35px;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
        border: none;
        background-color: #f4f4f4;
        padding-left: 5px;
        width: 300px;

        @include m {
          display: none;
        }

        &:focus {
          outline: none;
        }
      }

      button.header_search {
        height: 35px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f4f4f4;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: $pc_h5;

        @include m {
          display: none;
        }

        i {
          padding: 5px;
          color: $gray;

          &:hover {
            color: $black;
          }
        }
      }
    }

    .header_top_right {
      display: flex;
      gap: 36px;
      align-items: center;

      // 新增內容 頭
      .header_shoppingcart {
        position: relative;

        .shoppingcart-num {
          top: -17px;
          right: -5px;
          width: 23px;
          height: 23px;
          background-color: $orange;
          color: $white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.hidden {
            display: none;
          }
        }
      }

      //   新增內容 尾

      li {
        .header_search_m {
          display: none;

          @include m {
            display: block;
            cursor: pointer;
            border: none;
            background-color: transparent;
          }
        }

        i {
          font-size: $pc_h4;
          color: $black;
          cursor: pointer;

          &:hover {
            color: $gray;
          }

          @include m {
            // font-size: $pc_h5;
          }
        }

        //新增 頭
        a:hover i {
          color: $gray;
        }

        //新增 尾
      }
    }
  }

  .header_bottom {
    max-width: 1200px;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      a:last-child {
        border-right: none;
      }

      & > li {
        text-align: center;
        padding: 5px 0;
        position: relative;
        flex-grow: 1;

        &:hover ol {
          visibility: visible;
        }

        a {
          display: block;
          text-decoration: none;
          color: $black;
          border-right: #eee 1px solid;

          &:hover {
            color: $gray;
          }

          i {
            font-size: $pc_h4;
          }

          h6 {
            font-size: 14px;
            margin-top: 5px;
          }
        }

        ol {
          background-color: $white;
          position: absolute;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border: #eee solid 1px;
          // display: none;
          visibility: hidden;
          margin-top: 5px;
          width: 100%;

          @include m {
            display: none;
          }

          li {
            padding: 0;
            margin: 0;

            a {
              text-decoration: none;
              display: block;
              line-height: 35px;
              border-right: none;
              color: $black;
              margin: 5px;
              border-radius: 5px;
              font-size: 14px;

              &:hover {
                color: $white;
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }

  .submenu {
    display: none;

    @include m {
      // display: block;
      padding: 20px 0 10px;
      z-index: 500;
      font-size: 14px;
      background-color: #fff;
      position: fixed;
      width: 100vw;
      top: 104px;
      left: 0;

      .submenu_title {
        text-align: center;
        font-weight: bold;
      }

      .submenu_list:last-child {
        border-bottom: none;
      }

      .submenu_list {
        padding: 10px;
        border-bottom: #eee solid 1px;
        text-align: left;

        a {
          color: $black;
        }
      }
    }
  }

  .header_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: 300;
    display: none;

    @include m {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: hsla(0, 0%, 0%, 0.5);
      z-index: 300;
      display: none;
    }
  }

  .active {
    display: block;
  }

  .search_modal {
    display: none;

    @include m {
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
      z-index: 600;
      background-color: #fff;
      width: 100vw;
      box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
      // background-color: #f4f4f4;

      input {
        height: 35px;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
        border: none;
        background-color: #f4f4f4;
        padding-left: 5px;
        width: 295px;
      }

      button.header_search {
        height: 35px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f4f4f4;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 12px;

        i {
          padding: 5px;
          color: $gray;
        }
      }
    }
  }
  .member_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    // background-color: red;
  }
  .user_menu {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 210px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
    z-index: 3000;
    margin-top: 15px;
    margin-left: -180px;

    @include m {
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 0 0 10px 10px;
      margin: 0;
    }

    i {
      width: 22px;
      height: 22px;
      font-size: $pc_h5;
      color: #333333;
    }

    .user_setting {
      padding: 10px;

      a {
        display: block;
        display: flex;
        justify-content: space-between;

        .user_info {
          display: flex;

          .user_icon {
            height: 50px;
            width: 50px;
            // background-color: #eee;
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
          }

          .user_name {
            margin-left: 10px;
            line-height: 50px;
            font-weight: bold;
            color: $black;
          }
        }

        i {
          line-height: 50px;
        }
      }
    }

    ol {
      padding: 10px;
      border-bottom: 1px solid #dddddd;
      border-top: 1px solid #dddddd;

      li {
        padding: 5px 0;

        a {
          color: #333333;
          display: block;
          border-radius: 5px;
          line-height: 16px;
          padding: 5px;
          display: flex;
          align-items: center;

          div {
            text-align: center;

            img {
              margin-left: 2.5px;
            }
          }

          h6 {
            margin-left: 20px;
          }

          &:hover {
            background-color: #eee;
          }
        }
      }
    }

    .user_logout {
      a {
        display: block;
        text-align: center;
        color: $black;
        padding: 10px;

        &:hover {
          background-color: #eee;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  // ------------------------cart---------------------------------
  .header_product_group {
    width: 300px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
    border-radius: 10px;
    position: fixed;
    z-index: 3000;
    background-color: #fff;
    margin-top: 15px;
    margin-left: -250px;
    display: none;
    word-break: break-all;

    @include m {
      border-radius: 0;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;

      height: 100%;
    }

    .product_contain {
      // max-width: 280px;
      max-height: 300px;
      overflow-y: auto;
      // position: fixed;
      @include m {
        max-height: 600px;
      }
    }

    .empty_cart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      display: none;

      img {
        width: 30%;
        margin: 20px;

        @include m {
          width: 30%;
        }
      }

      h5 {
        margin: 20px;
      }

      a {
        margin: 20px;
        display: block;
        width: 220px;
        height: 40px;
        color: #fff;
        background-color: $blue;
        border-radius: 5px;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
      }
    }

    .product_item:last-child {
      border: none;
    }

    .product_item {
      display: flex;
      // gap: 90px;
      padding: 20px 20px;
      border-bottom: 1px solid #eaeaea;
      flex-wrap: wrap;

      @include m {
        flex-wrap: wrap;
      }

      .product-image {
        display: block;
        padding-right: 15px;

        img {
          object-fit: cover;
          width: 70px;
          height: 50px;
          border-radius: 5px;
        }
      }

      .product-name {
        width: 55%;
        padding: 0 15px;

        @include m {
          width: 55%;
        }

        a {
          h6:hover {
            text-decoration: underline;
          }

          h6 {
            font-weight: bold;
            color: $black;
            font-size: 14px;
          }
        }
      }

      .delete {
        width: 5%;

        .cart_delete {
          border: none;
          background-color: transparent;
          font-size: $pc_h6;
          color: #666;
          padding: 0 15px;
          cursor: pointer;

          i {
            font-size: 14px;
          }
        }
      }

      .date,
      .quantity {
        width: 100%;
        padding: 5px 15px;
        text-align: left;
        color: #666;
        margin-left: 90px;
        font-size: 14px;

        i {
          font-size: 14px;
          margin-right: 5px;
          pointer-events: none;
        }

        @include m {
          width: 100%;
          text-align: left;
          padding-left: 100px;
          margin: 0;
        }
      }

      .product-price {
        width: 100%;
        padding: 5px 15px;
        color: $blue;
        font-weight: bold;
        text-align: left;
        margin-left: 90px;

        @include m {
          width: 100%;
          padding: 10px 0;
          margin: 0;
          padding-left: 100px;
        }
      }
    }

    .gotocart {
      padding: 20px;
      border-top: 2px solid #eaeaea;

      a {
        margin-left: 165px;
        display: block;
        width: 100px;
        height: 40px;
        background-color: $blue;
        color: #fff;
        border-radius: 10px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;

        &:hover {
          background-color: $orange;
        }
      }
    }

    // ------------------------cart---------------------------------
  }
}
