<header>
    <div class="header_wrapper">

        <div class="header_top container">

            <ul class="header_top_left">
                <li>
                    <a href="index.html"><img src="img/otherpage/Weeee!.svg" alt=""></a>
                </li>
                <li>
                    <input type="text" placeholder="輸入目的地、景點、體驗行程或活動名稱...
              " maxlength="50">
                </li><span>
                    <button class="header_search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </span>
            </ul>
            <ul class="header_top_right">
                <li>
                    <button class="header_search_m"><i class="fa-solid fa-magnifying-glass"></i></button>
                </li>
                <li>
                    <a href="shoppingcart.html"><i class="fa-solid fa-cart-shopping"></i></a>

                </li>
                <li>
                    <i class="fa-solid fa-user">
                    </i>
                    <div class="user_menu">
                        <div class="user_setting">
                            <a href="account_setting.html">
                                <div class="user_info">
                                    <div class="user_icon"></div>
                                    <div class="user_name">寧寶</div>
                                </div>
                                <i class="fa-solid fa-gear"></i>
                            </a>
                        </div>
                        <ol>
                            <li>
                                <a href="account_order.html">
                                    <div><i class="fa-regular fa-rectangle-list"></i></div>
                                    <h6>訂單管理</h6>
                                </a>
                            </li>
                            <li>
                                <a href="account_jo.html">
                                    <div> <i class="fa-solid fa-child-reaching"></i></div>
                                    <h6>我的揪團</h6>
                                </a>
                            </li>
                            <li>
                                <a href="account_favor.html">

                                    <div> <i class="fa-solid fa-heart"></i></div>
                                    <h6>我的收藏</h6>
                                </a>
                            </li>
                            <li>
                                <a href="account_point.html">

                                    <div> <img src="img/weeeepoints/yellow.svg" alt=""></div>
                                    <h6>Weeee! Point</h6>
                                </a>
                            </li>
                        </ol>
                        <div class="user_logout">
                            <a href="login.html">登出</a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>


    <div class="header_wrapper">

        <div class="header_bottom container">

            <ul>
                <li>
                    <a href="productlist_travel.html" class="header_modal_show"><i class="fa-solid fa-mountain"></i>
                        <h6>觀光行程</h6>
                    </a>
                    <div class="submenu">
                        <div class="submenu_title">觀光行程</div>
                        <div class="submenu_list"><a href="productlist_travel.html">所有觀光行程</a></div>
                        <div class="submenu_list"><a href="">朋友行程</a></div>
                        <div class="submenu_list"><a href="">家庭行程</a></div>
                        <div class="submenu_list"><a href="">情侶行程</a></div>
                        <div class="submenu_list"><a href="">寵物行程</a></div>
                    </div>
                    <ol>
                        <li><a href="">朋友行程</a></li>
                        <li><a href="">家庭行程</a></li>
                        <li><a href="">情侶行程</a></li>
                        <li><a href="">寵物行程</a></li>
                    </ol>
                </li>
                <li>
                    <a href="productlist_experience.html" class="header_modal_show"> <i
                            class="fa-solid fa-gavel"></i>
                        <h6>體驗活動</h6>
                    </a>
                    <div class="submenu">
                        <div class="submenu_title">體驗活動</div>
                        <div class="submenu_list"><a href="productlist_experience.html">所有體驗活動</a></div>
                        <div class="submenu_list"><a href="">手作體驗</a></div>
                        <div class="submenu_list"><a href="">水上活動</a></div>
                        <div class="submenu_list"><a href="">觀光農場</a></div>
                        <div class="submenu_list"><a href="">極限運動</a></div>
                    </div>
                    <ol>
                        <li><a href="">手作體驗</a></li>
                        <li><a href="">水上活動</a></li>
                        <li><a href="">觀光農場</a></li>
                        <li><a href="">極限運動</a></li>
                    </ol>
                </li>
                <li>
                    <a href="productlist_travelticket.html" class="header_modal_show"> <i
                            class="fa-solid fa-train-subway"></i>
                        <h6>交通票卡</h6>
                    </a>
                    <div class="submenu">
                        <div class="submenu_title">交通票卡</div>
                        <div class="submenu_list"><a href="productlist_travelticket.html">所有交通票卡</a></div>
                        <div class="submenu_list"><a href="">無限暢遊卡</a></div>
                        <div class="submenu_list"><a href="">景點暢遊卡</a></div>
                        <div class="submenu_list"><a href="">交通暢遊卡</a></div>
                        <div class="submenu_list"><a href="">經典暢遊卡</a></div>
                    </div>
                    <ol>
                        <li><a href="">無限暢遊卡</a></li>
                        <li><a href="">景點暢遊卡</a></li>
                        <li><a href="">交通暢遊卡</a></li>
                        <li><a href="">經典暢遊卡</a></li>
                    </ol>
                </li>
                <li>
                    <a href="productlist_sightseeingticket.html" class="header_modal_show"> <i
                            class="fa-solid fa-ticket"></i>
                        <h6>景點門票</h6>
                    </a>
                    <div class="submenu">
                        <div class="submenu_title">景點門票</div>
                        <div class="submenu_list"><a href="productlist_sightseeingticket.html">所有景點門票</a></div>
                        <div class="submenu_list"><a href="">主題樂園</a></div>
                        <div class="submenu_list"><a href="">水族館</a></div>
                        <div class="submenu_list"><a href="">博物館</a></div>
                        <div class="submenu_list"><a href="">美術館</a></div>
                    </div>
                    <ol>
                        <li><a href="">主題樂園</a></li>
                        <li><a href="">水族館</a></li>
                        <li><a href="">博物館</a></li>
                        <li><a href="">美術館</a></li>
                    </ol>

                </li>
                <li>
                    <a href="jo_index.html"> <i class="fa-solid fa-child-reaching"></i>
                        <h6>揪遊趣！</h6>
                    </a>
                </li>
        </div>
    </div>
    </div>
    <div class="header_overlay"></div>

    <div class="search_modal">

        <input type="text" placeholder="輸入目的地、景點、體驗行程或活動名稱...
      " maxlength="50"><button class="header_search"><i class="fa-solid fa-magnifying-glass"></i></button>

    </div>



</header>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script>

    $(".header_modal_show").on("click", function (e) {
        if ($(window).width() < 768) {
            event.preventDefault(e);
            $(this).next(".submenu").addClass("active");
            $(".header_overlay").addClass("active");
        } else {
            $(".submenu").removeClass("active");
        }
    });


    $(".header_search_m").on("click", function () {
        // console.log($(".search_modal"));
        $(".search_modal").css("display", "block");
        $(".header_overlay").addClass("active");
    });

    $(".fa-user").on("click", function () {
        $(".user_menu").css("display", "block");
        $(".header_overlay").addClass("active");

    });


    $(".user_menu").css("display", "none");


    // Function for close the Modal
    $(".header_overlay").on("click", function () {
        $(".header_overlay").removeClass("active");
        $(".submenu").removeClass("active");
        $(".search_modal").css("display", "none");
        $(".user_menu").css("display", "none");
    });
</script>