<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header start -->
    <div class="header_wrapper">

        <div class="header_top">

            <!-- <header> -->

            <ul class="left">
                <li>
                    <a href="../index.html"><img src="../img/otherpage/Weeee!.svg" alt=""></a>
                </li>
                <li>
                    <input type="text" placeholder="輸入目的地、景點、體驗行程或活動名稱...
              " maxlength="50">


                </li>
                <span>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </span>
            </ul>
            <ul class="right">
                <li>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>

                </li>
                <li>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </li>
            </ul>
        </div>
    </div>

        <div class="header_wrapper">

            <div class="header_bottom"><a href=""></a>

                <ul>
                    <li class="main_menu">
                        <a href=""><i class="fa-solid fa-mountain"></i>
                            <h6>觀光行程</h6>
                        </a>
                        <ol class="nav_list">
                            <li class="sub_menu"><a href="">朋友行程</a></li>
                            <li class="sub_menu"><a href="">家庭行程</a></li>
                            <li class="sub_menu"><a href="">情侶行程</a></li>
                            <li class="sub_menu"><a href="">寵物有愛行程</a></li>




                        </ol>
                    </li>
                    <li class="main_menu">
                        <a href="../productlist_experience.html"> <i class="fa-solid fa-gavel"></i>
                            <h6>體驗活動</h6>
                        </a>

                    </li>
                    <li class="main_menu">
                        <a href="../productlist_travelticket.html"> <i class="fa-solid fa-train-subway"></i>
                            <h6>交通票卡</h6>
                        </a>

                    </li>
                    <li class="main_menu">
                        <a href="../productlist_sightseeingticket.html"> <i class="fa-solid fa-ticket"></i>
                            <h6>景點門票</h6>
                        </a>

                    </li>
                    <li class="main_menu">
                        <a href=""> <i class="fa-solid fa-child-reaching"></i>
                            <h6>揪遊趣！</h6>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- </header> -->

</body>

</html>