<div class="product-list">
  <a class="product-card">
    <i class="fa-regular fa-heart"></i>
    <div class="product-card__location">
      <i class="fa-solid fa-location-dot"></i>
      <p class="p__location">桃園</p>
    </div>
    <div class="product-card__top">
      <div class="product-card__top__pic">
        <img src="./img/sightseeing/fr_28_1.jpg" alt="" />
      </div>
    </div>
    <div class="product-card__bottom">
      <span class="product-tag">朋友行程</span>
      <h6 class="product-name">有得逛有得買，就在桃園</h6>
      <span class="gray"
        ><i class="fa-solid fa-star"></i>4.4(44325) |
        <span class="product-bought">590K+</span>個已訂購
      </span>
      <span class="price">TWD <span class="product-price">550</span>元</span>
    </div>
  </a>
</div>
